.dashboard-div .top-options span{
	text-align: right;
}
.dashboard-div .dashboard-data{
	margin-top: 35px;
	padding: 10px;
	width: 96%;
	margin-left: 2%;
}
.dashboard-div .dashboard-data div {
    margin: 10px 0px;
    padding: 10px;
}
.dashboard-data div span {
    font-size: 16px;
}
.dashboard-data div span.count{
	font-weight: bold;
	font-size: 18px;
}