body{
	overflow-x:hidden;
}
.admin-profile-box {
	display: none;
	padding: 20px;
	border: solid 1px #103B6D;
	position: absolute;
	top: 70px;
	right: 80px;
	z-index: 100;
}

.admin-profile-box div:first-child {
	border-bottom: solid 1px #103B6D;
}

.admin-menu {
	position: absolute;
	left: 0px;
	top: 70px;
	text-align: center;
	border-right: solid 1px #103B6D;
	color: #103B6D;
	height: auto;
	min-height: 89%;
	padding: 0px;
}

.admin-menu ul {
	padding: 0px;
	list-style-type: none;
}

.admin-menu ul li {
	padding: 10px 0;
	border-bottom: solid 1px #103B6D;
	cursor: pointer;
}

.admin-menu ul li span {
	font-size: 16px;
	font-weight: bold;
}

.admin-menu ul li.active {
	background-color: #103B6D;
	color: white;
	pointer-events: none;
}

.dashboard-content {
	position: absolute;
	left: 15%;
	top: 70px;
	padding: 20px;
	width: 85%;
}

.menu-tabs li {
	background-color: #E4E4E4;
}

.menu-tabs li a {
	color: black;
	font-weight: bold;
}

.menu-tabs li.active {
	background-color: #103B6D;
	pointer-events: none;
}

.menu-tabs li.active a {
	/*color:white;*/
	
}

.dashboard-content .menu-tabs {
	border: none;
	padding: 0 30px;
}

/* Modal CSS */
.modal {
	padding-left: 0px !important;
	overflow-y: auto;
	padding-right:0px !important;
}

.modal-dialog.test2bsure-dialog {
	width: 100% !important;
	height: 100%;
	margin: 0px;
	width: 0px;
	overflow-y: auto;
}

.modal-content.test2bsure-content {
	width: 100%;
	min-height: 100%;
	border-radius: 0px;
	height: auto;
	overflow-y: auto;
	max-height: calc(100vh - 100px);
	overflow-x: hidden;
}

.modal-footer.test2bsure-footer {
	border-top: solid 1px #e4e4e4;
	margin-bottom: 0px;
	bottom: 0px;
	width: 100%;
	position: fixed;
	background-color:white;
}
.modal-body.test2bsure-body{
	margin-bottom: 80px;
}
/* Modal CSS ends */

/* Common CSS for input */
.modal-body.test2bsure-body input, .modal-body.test2bsure-body select{
	border: solid 1px #d3d3d3;
	height: 34px;
	padding: 5px;
	margin-bottom: 20px;
}
.modal-body.test2bsure-body img {
	margin-bottom: 20px;
}
.modal-body.test2bsure-body select {
	padding: 2px;
}
.modal-body.test2bsure-body span {
	/*margin-bottom: 20px;
	font-size: 17px;*/
}

.red {
	color: red;
}

/* Delete Modal CSS starts */
.deleteModal {
	width: 40%;
	margin-left: 30%;
	margin-top: 5%;
}

.deleteModal .modal-header h4 {
	display: inline;
}

.deleteModal .modal-footer div {
	text-align: center;
}

.deleteModal .modal-dialog {
	width: unset;
	height: unset;
	margin: unset;
	width: unset;
}

.deleteModal .modal-content {
	width: unset;
	min-height: unset;
	border-radius: unset;
	height: unset;
}

.deleteModal .modal-footer {
	border-top: none;
	margin-top: 0px;
	position: unset;
}

/* Delete Modal CSS ends */
.table-header {
	background-color: #103B6D;
	color: white;
	height: 30px;
}
/* Autocomplete CSS starts */
.autocomplete-div{
	border: solid 1px #e4e4e4;
	padding: 5px;
	height: 150px;
	overflow: auto;
	margin-top: -22px;
}
.autocomplete-div div{
	cursor: pointer;
}
.autocomplete-div div:hover{
	background-color: #e4e4e4;
}
.outerSpan {
    background-color: blue;
	padding: 0px 5px;
	margin-left: 10px;
	display: block;
	height: 22px;
	margin-bottom: 10px;
	color: white;
	border: solid 1px blue;
	border-radius: 10px;
	max-width: 120px;
	width: auto;
	float: left;
}
.outerSpan span:first-child{
	width: 100px;
	display: inline-block;
	overflow: hidden;
	word-wrap: break-word;
	white-space: pre;
	text-overflow: ellipsis;
}
.outerSpan span:last-child{
	float: right;
}
.autocomplete-selected{
	position: absolute;
	right: 0px;
}
.autocomplete-div .no-results{
	color: red;
}
.autocomplete-selecteddiv .btnRemove{
	cursor: pointer;
}
/* Autocomplete CSS ends */
.lockDetails{
	display: none;
}


/* Login CSS starts */
.login-box{
	height:auto;
	width:32%;
	position:absolute;
	top:30%;
	left:34%;
	border:solid 1px #103B6D;
	text-align:center;
}
.login-box .heading{
	color:white;
	background-color:#103B6D;
	padding:10px;
	font-weight: bold;
}
.login-box .content{
	padding:10px;
}
.login-box .content input[type='text'], input[type='password']{
	width:60%;
	height:30px;
}
.login-box .content input[type='button']{
	width:30%;
	height:30px;
}
.login-box .content input{
	margin:15px;
}
.login-box .content .error-message{
	color:red;
}
.red{
	color:red;
}
/* Login CSS ends */


.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
}
.loader img{
	width: 50px;
}
.imagePreviewDiv{
	padding: 0px;
}
.btn-primary, .btn-default{
	border-radius:0px;
}
input{
	border-radius: 0px !important;
}
select{
	height:34px;
}
.btn-primary{
	background-color: #103B6D;
}
.btn-primary:hover {
    color: #fff;
    background-color: #103B6D;
    border-color: #103B6D;
}
#changePasswordModal .modal-header{
	text-align: center;
}
#changePasswordModal .modal-title{
	display: inline;
}
#changePasswordModal .modal-body{
	height: 150px;
	margin-bottom: 0px;
	padding: 0px;
}
#changePasswordModal .modal-body div{
	margin-top: 20px;
}
#changePasswordModal .modal-body .password-error{
	color: red;
	text-align: center;
}
/* Modal CSS starts*/
.modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
.modal-dialog .modal-content .modal-header h4{
	display:inline;
}
.modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
	padding-bottom: 65px;
}
#imgCategoryImagePreview{
	width: 80px;
}
/* Modal CSS ends */
