.menu-bar .addQuestions #btnAddQuestion{
	height: 25px;
	width: 180px;
}
.menu-bar .addQuestions{
	text-align:right;
}
.menu-bar button{
	padding:0px;
}
.existing-questions{
	margin:50px 0px;
		
}
.existing-questions table{
	border:solid 1px #2E6DA2;
	width:100%;
}
.existing-questions table tr th,td{
	text-align: center;
	padding: 5px 2px;
}
.existing-questions table tr{
	border-bottom:solid 1px #2E6DA2;
}
.existing-questions table tr th,td{
	border-right:solid 1px #2E6DA2;
}
#questionModal .modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
#questionModal .modal-dialog .modal-content .modal-header h4{
	display:inline;
}
#questionModal .modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
}