.quiz-menu-bar .addQuizzes #btnAddQuiz{
	height: 25px;
	width: 180px;
}
.quiz-menu-bar .addQuizzes{
	text-align:right;
}
.quiz-menu-bar .quiz-searchbar #btnSearchQuiz{
	height:25px;
	width:100px;
	margin-left:20px;
}
.quiz-menu-bar .quiz-searchbar input{
	height: 25px;
    border: solid 1px #2E6DA2;
    border-radius: 5px;
    width:180px;
}
.quiz-menu-bar button{
	padding:0px;
}
.existing-quizzes{
	margin:50px 0px;
		
}
.existing-quizzes h3{
	text-align: center;
}
.existing-quizzes table{
	border:solid 1px #2E6DA2;
	width:100%;
}
.existing-quizzes table tr th,td{
	text-align: center;
	padding: 5px 2px;
}
.existing-quizzes table tr{
	border-bottom:solid 1px #2E6DA2;
}
.existing-quizzes table tr th,td{
	border-right:solid 1px #2E6DA2;
}
.existing-quizzes table tr th,td button{
	margin: 0 10px;
}
#quizModal .modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
#quizModal .modal-dialog .modal-content .modal-header h4{
	display:inline;
}
#quizModal .modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
}
.added-questions table{
	border:solid 1px #2E6DA2;
	width:100%;
}
.added-questions table tr th,td{
	text-align: center;
	padding: 5px 2px;
}
.added-questions table tr{
	border-bottom:solid 1px #2E6DA2;
}
.added-questions table tr th,td{
	border-right:solid 1px #2E6DA2;
}
#selectedExam{
	min-height: 30px;
	height: auto;
	border: solid 1px #e4e4e4;
	border-radius: 5px;
}
#quizQuestionsModal .modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
#quizQuestionsModal .modal-dialog .modal-content .modal-header h4{
	display:inline;
}
#quizQuestionsModal .modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
}
#quizQuestionsModal .all-questions table{
	width:100%;
} 
#quizQuestionsModal .added-questions{
	margin:0px;
}
#quizQuestionsModal .added-questions table{
	width: 100%;
}
#quizQuestionsModal .divCountQues{
	text-align: center;
	padding-bottom: 20px;
	font-weight: bold;
	font-size:18px;
}
#quizQuestionsModal .all-questions{
	margin-bottom: 100px;
	padding-bottom: 100px;
}
#quizQuestionsModal .all-questions button{
	width: 44px;
	padding: 6px 0px;
}
#viewQuestionModal .option p{
	display: inline;
}