.test-menu-bar .addTests #btnAddTest{
	height: 25px;
	width: 180px;
}
.test-menu-bar .addTests{
	text-align:right;
}
.test-menu-bar .test-searchbar #btnSearchTest{
	height:25px;
	width:100px;
	margin-left:20px;
}
.test-menu-bar .test-searchbar input{
	height: 25px;
    border: solid 1px #2E6DA2;
    border-radius: 5px;
    width:180px;
}
.test-menu-bar button{
	padding:0px;
}
.existing-tests{
	margin:50px 0px;
		
}
.existing-tests table{
	border:solid 1px #2E6DA2;
	width:100%;
}
.existing-tests table tr th,td{
	text-align: center;
	padding: 5px 2px;
}
.existing-tests table tr{
	border-bottom:solid 1px #2E6DA2;
}
.existing-tests table tr th,td{
	border-right:solid 1px #2E6DA2;
}
.existing-tests table tr th,td button{
	margin: 0 10px;
}
#testDetailsModal .modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
#testDetailsModal .modal-dialog .modal-content .modal-header h4{
	display:inline;
}
#testDetailsModal .modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
}
#sectionDetailsModal .modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
#sectionDetailsModal .modal-dialog .modal-content .modal-header h4{
	display:inline;
}
#sectionDetailsModal .modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
}
#testQuesModal .modal-dialog .modal-content .modal-header{
	padding:20px;
	text-align: center;
}
#testQuesModal .modal-dialog .modal-content .modal-header h4{
	display:inline;
}
#testQuesModal .modal-dialog .modal-content .modal-body{
	height: auto;
	margin-top:20px;
	padding:0px;
}
#testDetailsModal #btnAddSections{
	height: 30px;
	padding: 5px;
}
.added-questions{
	margin:60px 0px;
		
}
.added-questions table{
	border:solid 1px #2E6DA2;
	width:100%;
}
.added-questions table tr th,td{
	text-align: center;
	padding: 5px 2px;
}
.added-questions table tr{
	border-bottom:solid 1px #2E6DA2;
}
.added-questions table tr th,td{
	border-right:solid 1px #2E6DA2;
}
.added-questions table{
	border:solid 1px #2E6DA2;
	width:100%;
}
.add-more-ques table tr th,td{
	text-align: center;
	padding: 5px 2px;
}
.add-more-ques table tr{
	border-bottom:solid 1px #2E6DA2;
}
.add-more-ques table tr th,td{
	border:solid 1px #2E6DA2;
}