header{
	/*margin-top:30px;*/
	color:white;
	font-weight:bold;
	font-size:14px;
	width:100%;
}
.info-box{
	width:100%;
	height:100%;
	color:red;
	text-align:center;
}
.info-box > h4{
	font-weight:bold;
}
.navbar{
	
	background-color:#2E6DA4;
	color:white;
	
}
.navbar-default .navbar-nav>li>a{
	color:white;
}
.navbar-default .navbar-nav>.highlight>a, .navbar-default .navbar-nav>.highlight>a:focus, .navbar-default .navbar-nav>.highlight>a:hover .navbar-nav>.highlight>li{
    color: white;
    background-color: #286090;
}
.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #286090;
}

.navbar-brand{
	padding:0px 0px 0px 30px;
}
#subMenu{
	width:200px;
}
ul ul {
			position: absolute;
			left: 0;
			top: 100%;
			background: #2E6DA4;
			z-index:100;
			display: none;
		}
		
.menu-position{
	width:100%;
	position:fixed;
	z-index:100;
}
.content-div{
	position:absolute;
	width:100%;
	top:100px;
}
.down-info-box{
	position:fixed;
	width:100%;
	top:95%;
	height:5%;
	background-color:black;
	z-index:100;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .down-info-box {top:85%;
	height:15%;}
}