<html>
	<head>
		<title>About Us</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/aboutus.css' rel='stylesheet' />
	</head>
	<body>
		<div class='aboutus-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<!--Div that will contain image slide or some information related to website stats-->
		<div class='about-us common-content'>
			<div class='heading'>
				<h4>Who we are?</h4>
			</div>
			<div class='content'>
				<p>Test2BSure.com is an online portal for all types of competitive exams (Technical and Non-Technical)
				to check performance/capability of a candidate before the actual exam. This portal is especially focussed
				on those competitive exams which are not easily available online. Using this portal, a candidate can take a
				test free of cost and analyze his/her weak and strong points with the help of statistics in the form 
				of graphs provided in the report section after end of the test and able to improve his/her weak points.</p>
			</div>
		</div>
		<div class='aboutus-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/aboutus.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		
		<script type='text/javascript' src='../controller/header.js'></script>
		
	</body>
</html>