<html>
	<head>
		<script data-ad-client="ca-pub-1988549768988881" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>About Us</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body>
		<div class='aboutus-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<!--Div that will contain image slide or some information related to website stats-->
		<div class='about-us common-content'>
			<div class='aboutus-html col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2'>
				<div class='heading'>
					<h4>Who we are?</h4>
				</div>
				<div class='content'>
					<p>Test2BSure.com is an online portal for all types of competitive exams (Technical and Non-Technical)
					to check performance/capability of a candidate before the actual exam. This portal is especially focussed
					on those competitive exams which are not easily available online. Using this portal, a candidate can take a
					test free of cost and analyze his/her weak and strong points with the help of statistics in the form 
					of graphs provided in the report section after end of the test and able to improve his/her weak points.</p>
				</div>
			</div>
		</div>
		<div class='aboutus-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/aboutus');
			LoadJS('../controller/aboutus', function(){
				LoadJS('../ReusableFunctions/modal-struct', function(){
					new aboutusController();
				});
			});
		</script>
	</body>
</html>