<html>
	<head>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body>
		<div class='asknanswer-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='common-content asknanswer-content col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='left filters col-xs-12 col-sm-12 col-md-3 col-lg-3'>
				<div class='userFilter col-xs-12 col-sm-12 col-md-12 col-lg-12'>
					<div class='postFilter allPosts active'>
						All Posts
					</div>
					<div class='postFilter myPosts'>
						My Posts
					</div>
				</div>
				<div class='examFilter col-xs-12 col-sm-12 col-md-12 col-lg-12'>
					<div class='head'><h4>Find By Exams</h4></div>
					<div class='exams'></div>
					<div class='buttons'>
						<button class='button button-primary' id='btnApply'>Apply</button>
						<button class='button button-default' id='btnReset'>Reset</button>
					</div>
				</div>
			</div>
			<div class='right discussion col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1'>
				<div class='ask-post'>
				</div>
				<div class='all-posts'>
					<div class='head'><h4>All Posts</h4></div>
					<div class='posts'></div>
				</div>
			</div>
		</div>
		<div class='asknanswer-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/asknanswer');
			LoadJS('../controller/asknanswer', function(){
				new asknanswerController();
			});
		</script>
	</body>
</html>