<html>
	<head>
		<title>Contact Us</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body>
		<div class='contactus-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='outer common-content'>
			<h3 class='head'>We'll be in touch soon</h3>
			<div id="errorContactUs" class="hide col-sm-7 col-sm-offset-3">
				<div class=" alert alert-danger" id="errorMessageContactUs"></div>
			</div>
			<form id="contactUsForm" class="form-horizontal" role="form">
				<div class="form-group margin-bottom">
					<label class='control-label col-sm-3'>Name</label>
					<div class='col-sm-7'>
						<input type="text" class='form-control' id="txtName" name="txtNameName" required="required" placeholder="Name"/>
					</div>
				</div>
				<div class="form-group margin-bottom">
					<label class='control-label col-sm-3'>E-mail</label>
					<div class='col-sm-7'>
						<input type="email"  class='form-control' id="txtEmail" name="txtEmailName" required="required" placeholder="abc@example.com"/>
					</div>
				</div>
				<div class="form-group margin-bottom">
					<label class='control-label col-sm-3'>Message/Query</label>
					<div class='col-sm-7'>
						<textarea class='form-control' rows="5" id="txtQuery" name="txtQueryName" required="required" placeholder="Write your Query..."></textarea>
					</div>
				</div>
				<div class='form-group'>
					<div class="col-sm-3 col-sm-offset-5">
						<button type="submit" id="btnSubmitQuery" class='btn btn-primary btn-block'>Submit Query</button>
					</div>
				</div>
			</form>
		</div>
		<div class='contactus-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/contactus');
			LoadJS('../controller/contactus', function(){
				LoadJS('../ReusableFunctions/modal-struct', function(){
					new contactusController();
				});
			});
		</script>
	</body>
</html>