<html>
	<head>
		<script data-ad-client="ca-pub-1988549768988881" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
		<script type='text/javascript' src='../ReusableFunctions/framework.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/dashboard');
		</script>
	</head>
	<body>
		<div class='dashboard-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='common-content dashboard-content col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='outerDiv col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				<div class='top col-xs-12 col-sm-12 col-md-12 col-lg-12'>
					<div class='profile col-xs-12 col-sm-12 col-md-8 col-lg-8'>
					</div>
					<div class='rewards col-xs-12 col-sm-12 col-md-4 col-lg-4'>
					</div>
				</div>
				<div class='exams col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
				<div class='logout col-xs-12 col-sm-12 col-md-12 col-lg-12 hide'>
					<button class='button button-primary btnLogout'>Logout</button>
				</div>
			</div>
		</div>
		<div class='dashboard-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript'>
			LoadJS('../ReusableFunctions/test2bsure', function(){
				LoadJS('../controller/dashboard', function(){
					new dashboardController();			
				});
			});
		</script>
	</body>
</html>