<html>
	<head>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body>
		<div class='emailver-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div style='width:40%;margin-left:30%;' class="common-content">
		<div id="errorOuter" class="hide">
			<div class=" alert alert-danger" id="errorMessage"></div>
		</div>
		<div class='emailVerDiv' id='emailVerificationDiv' style='width:100%;margin-top:2%;border:solid 1px #F0F0F0;'>
			<div style='width:100%;background-color:#F0F0F0;padding:5px;text-align:center;'>
				<h4>E-mail Verification</h4>
			</div>
			<div id='emailVerificationMessage' style='padding:20px;text-align:center;'>
			</div>
		</div>
		</div>
		<div class='emailver-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/emailVerification');
			LoadJS('../controller/EmailVerification', function(){
				LoadJS('../ReusableFunctions/modal-struct', function(){
					new emailVerificationController();
				});
			});
		</script>
	</body>
</html>