<html>
	<head>
		<script data-ad-client="ca-pub-1988549768988881" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body>
		<div class='exam-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='common-content col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='exam-banner col-xs-12 col-sm-12 col-md-12 col-lg-12 container' style='z-index: -1;'>
				<h4 class='col-xs-12 col-sm-12 col-md-5 col-lg-5'></h4>
				<div class='col-xs-12 col-sm-12 col-md-7 col-lg-7'></div>
			</div>
			<div class='exam-outer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				<div class='exam-page col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
					<!--<div class='exam-details col-xs-12 col-sm-12 col-md-3 col-lg-3'>
						<div class='exam-info'></div>
					</div>-->
					<div class='exam-items col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1'>
						<div id='test-listing' class='test-listing col-xs-12 col-sm-12 col-md-12 col-lg-12'>
						</div>
						<div id='quiz-listing' class='quiz-listing col-xs-12 col-sm-12 col-md-12 col-lg-12'>
						</div>
					</div>
				</div>
				<div class="exam-info-detail col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
			</div>
		</div>
		<div class='exam-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/exam');
			LoadJS('../controller/exam', function(){
				LoadJS('../controller/user', function(){
					LoadJS('../ReusableFunctions/modal-struct', function(){
						new examController();
					});
				});
			});
		</script>
	</body>
</html>