<link href='../css/header.css' rel='stylesheet' />
<div class="header">
	<header>
		<nav class="navbar navbar-inverse nav-background">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="home.html"><img
						src="../../Images/Test2bSure_Logo.jpg" alt="TEST-2B-SURE"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav test2bsure-menu">
						<li class="highlight home-in-menu"><a href="home.html"><span
								class="test-color glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
						<li class="menuItems"><a href="show-tests.html"><span
								class="test-color glyphicon glyphicon-edit"></span>&nbsp;Exams</a></li>
						<li class="menuItems"><a href="about-us.html"><span
								class="test-color glyphicon glyphicon-info-sign"></span>&nbsp;About
								Us</a></li>
						<li class="menuItems"><a href="contact-us.html"><span
								class="test-color glyphicon glyphicon-earphone"></span>&nbsp;Contact
								Us</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right test2bsure-options">
						<li id="menuLogin" class="show"><button type="button" class="button button-primary" 
								id="linkLogin">
								<span class="test-color glyphicon glyphicon-user"></span>&nbsp;Login
							</button></li>
						<li id="menuRegister" class="show"><button type="button" class="button button-default" 
								id="linkRegister">
								<span class="test-color glyphicon glyphicon-user"></span>&nbsp;Register
							</button></li>
						<li id="userProfile" class="hide"><a
							href="#">Hi<span id="loggedInUSer"></span>&nbsp;&nbsp;<span
								class="glyphicon glyphicon-chevron-down"></span></a>
							<ul class="nav navbar-nav" id="subMenu">
								<li id="profile"><a href="profile.html">Profile</a></li>
								<li id="menuLogout" class="hide"><a href="#"
									id="linkLogout">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</div>


