<html>
	<head>
		<title>TEST2BSURE</title>
		<link href='../../helperCSS/bootstrap.min.css' rel='stylesheet' />
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/home.css' rel='stylesheet' />
	</head>
	<body>
		<div class='home-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='category-exam-listing col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='category-listing col-xs-12 col-sm-12 col-md-3 col-lg-3'>
				Categories listed here
			</div>
			<div class='exam-listing col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				Exams listed here
			</div>
		</div>
		<div class='home-footer'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/home.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		
		<script type='text/javascript' src='../controller/header.js'></script>
		<script type='text/javascript'>
			new homeController();
		</script>
	</body>
</html>