<html>
	<head>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
	</head>
	<body>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/modal-struct.js'></script>
		<script type='text/javascript'>
		</script>
	</body>
</html>