<html>
	<head>
		<title>Compete Leaderboard</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class='leaderboard-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='leaderboard-outer common-content col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='leaderboard-heading'>
				<h4></h4>
			</div>
			<div class='leaderboard-content table-responsive'>
				<table class="table1">
			        <thead>
			            <tr>
						  <th>Rank</th>
						  <th class="name">Name</th>
						  <th class="marks">Marks Scored</th>
						  <th class="time">Time Taken (in mins)</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div class='leaderboard-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/leaderboard');
			LoadJS('../controller/leaderboard', function(){
				LoadJS('../ReusableFunctions/modal-struct', function(){
					new leaderboardController();
				});
			});
		</script>
	</body>
</html>