<html>
	<head>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/password-reset.css' rel='stylesheet' />
	</head>
	<body>
		<div class='password-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='resetPasswordOuter col-xs-12 col-sm-12 col-md-12 col-lg-12 container' style='z-index: -1;'>
			<div class="resetPasswordDiv show col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>Reset Password</h3>
				<form class="resetPasswordForm form-horizontal" role="form">
					<div id="updatePasswordError" class='hide'>
						<div class="alert alert-danger" id="updatePassErrorMessage"></div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5">New Password</label>
						<div class="col-md-5">
							<input type="password" id="txtPasswordReg" name="txtPasswordNameReg" class="form-control" placeholder="Password"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5">Confirm Password</label>
						<div class="col-md-5">
							<input type="password" id="txtConfirmPassword" name="txtConfirmNameReg" class="form-control" placeholder="Confirm Password"/>
						</div>
					</div>
					<div class='form-group margin-bottom-20'>
						<div class="col-md-5 col-md-offset-5 margin-top-10 margin-bottom-20">
							<button type="submit" id="btnUpdatePassword" class="btn btn-success btn-block">Change Password</button>
						</div>
					</div>
				</form>
			</div>
		
			<div class='linkExpiredDiv hide col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4'>
				<div id="errorExpired">
					<div class=" alert alert-danger" id="errorMessage">This link is invalid/or has been expired.</div>
				</div>
			</div>
		</div>
		<div class='password-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/password-reset.js'></script>
		<script type='text/javascript' src='../controller/user.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/modal-struct.js'></script>
		<script type='text/javascript'>
			new passwordResetController();
		</script>
	</body>
</html>