<html>
	<head>
		<title>TEST2BSURE</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/quiz.css' rel='stylesheet' />
	</head>
	<body>
		<div class='quiz-header common-header'>
			<!-- Load the header here from header.html -->
		</div>
		<div class='quiz-page common-content col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='quiz-listing' class='test-listing col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				<div class='left col-xs-12 col-sm-12 col-md-3 col-lg-3'>
				</div>
				<div class='right col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				</div>
			</div>
		</div>
		<div class='quiz-footer common-footer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<!--  Load the footer here from footer.html -->
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/quiz.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			new quizController();
		</script>
	</body>
</html>