<html>
	<head>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body>
		<div class='link-pallete'>
			<img src='../images/left-arrow.png' alt='Open'/>
		</div>
		<div class='test-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		</div>
		<div class='test col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='test-questions col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				<div class='questions col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
				<div class='attempt-controls col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
			</div>
			<div class='test-ques-status xs-12 col-sm-12 col-md-3 col-lg-3'>
				<h4>Question Status</h4>
				<div class='ques-status'>
				</div>
				<div class='ques-status-info'>
					<div><div class='status-info not-visited'></div><span>Not Visited</span></div>
					<div><div class='status-info answered'></div><span>Answered</span></div>
					<div><div class='status-info unanswered'></div><span>Unanswered</span></div>
					<div><div class='status-info marked'></div><span>Marked For Review</span></div>
					<div><div class='status-info marked-answered'></div><span>Marked For Review & Answered</span></div>
				</div>
			</div>
		</div>
		<div class='test-footer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-4 col-sm-offset-0 col-md-offset-4 col-xs-offset-0'>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/take-test');
			LoadJS('../controller/take-test', function(){
				LoadJS('../ReusableFunctions/modal-struct', function(){
					new testController();
				});
			});
		</script>
	</body>
	<!-- Submit Test Modal -->
	<div class="modal" id="submitTestModal">
		<div class="modal-dialog">
			<div class="modal-content">
	
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Are you sure to submit the test?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
	
				<!-- Modal body -->
				<div class="modal-body">
					
				</div>
				<div class="modal-footer test2bsure-footer">
					<div>
						<div class='col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-3 col-md-offset-3
								col-lg-offset-3'>
							<button id='btnSubmitTestYes' type='button'
								class='button button-primary'>Yes</button>
						</div>
						<div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
							<button id='btnSubmitTestNo' type="button"
								class="button button-default"
								data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>