<html>
	<head>
		<title>TEST2BSURE</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/take-quiz.css' rel='stylesheet' />
	</head>
	<body>
		<div class='quiz-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		</div>
		<div class='quiz-outer col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<div class='quiz col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='quiz-report col-xs-12 col-sm-12 col-md-12 col-lg-12' style='display:none;'>
			</div>
			<div class='quiz-div col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='quiz-questions col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				<div class='questions col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
				<div class='attempt-controls col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
				<div class='attempt-solution-controls col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
			</div>
			<div class='quiz-status xs-12 col-sm-12 col-md-3 col-lg-3'>
			</div>
			</div>
		</div>
		<div class='quiz-footer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-4 col-sm-offset-0 col-md-offset-4 col-xs-offset-0'>
		</div>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/take-quiz.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			new quizController();
		</script>
	</body>
</html>