<html>
	<head>
		<title>TEST2BSURE</title>
		<link href='../../helperCSS/bootstrap.min.css' rel='stylesheet' />
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/take-test.css' rel='stylesheet' />
	</head>
	<body>
		<div class='test-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		</div>
		<div class='test col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='test-questions col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				<div class='questions col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
				<div class='attempt-controls col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
			</div>
			<div class='test-ques-status xs-12 col-sm-12 col-md-3 col-lg-3'>
				<div class='ques-status'>
				</div>
				<div class='ques-status-info'>
					<div><div class='status-info not-visited'></div><span>Not Visited</span></div>
					<div><div class='status-info answered'></div><span>Answered</span></div>
					<div><div class='status-info unanswered'></div><span>Unanswered</span></div>
					<div><div class='status-info marked'></div><span>Marked For Review</span></div>
					<div><div class='status-info marked-answered'></div><span>Marked For Review & Answered</span></div>
				</div>
			</div>
		</div>
		<div class='test-footer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-4 col-sm-offset-0 col-md-offset-4 col-xs-offset-0'>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/take-test.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			new testController();
		</script>
	</body>
</html>