<html>
	<head>
		<title>TEST2BSURE</title>
		<link href='../../helperCSS/bootstrap.min.css' rel='stylesheet' />
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/take-quiz.css' rel='stylesheet' />
	</head>
	<body>
		<div class='quiz-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			Quiz header here
		</div>
		<div class='quiz col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='quiz-left col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				Quiz Questions here
			</div>
			<div class='quiz-right xs-12 col-sm-12 col-md-3 col-lg-3'>
				Question status here
			</div>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/take-quiz.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			new quizController();
		</script>
	</body>
</html>