<html>
	<head>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class='quiz-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		</div>
		<div class='quiz-content col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='quiz-report col-xs-12 col-sm-12 col-md-12 col-lg-12' style='display:none;'>
			</div>
			<div class='quiz-main col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1'>
				<div class='quiz-info-value col-xs-12 col-sm-12 col-md-12 col-lg-12'>
					<h3 class='quiz-info-head'>Ongoing Quiz</h3>
					<div class="line takeonly"></div>
					<img src='../images/circular-clock.png' alt='Quiz Time' class='takeonly quiz-timer'/>
					<div class="line takeonly"></div>
					<h3 class='quiz-title-value takeonly'></h3>
				</div>
				<div class='quiz-questions col-xs-12 col-sm-12 col-md-11 col-lg-11'>
					<div class='quiz-question col-xs-12 col-sm-12 col-md-6 col-lg-6'>
					</div>
					<div class='quiz-options col-xs-12 col-sm-12 col-md-6 col-lg-6'>
					</div>
				</div>
				<div class='quiz-status xs-12 col-sm-12 col-md-12 col-lg-12'>
					<div class='question-status col-xs-12 col-sm-12 col-md-8 col-lg-8'>
					</div>
					<div class='attempt-controls col-xs-12 col-sm-12 col-md-4 col-lg-4'>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/take-quiz');
			LoadJS('../controller/take-quiz', function(){
				LoadJS('../ReusableFunctions/modal-struct', function(){
					new quizController();
				});
			});
		</script>
	</body>
</html>