<html>
	<head>
		<title>TEST2BSURE</title>
		<link href='../../helperCSS/bootstrap.min.css' rel='stylesheet' />
		<link href='../ReusableFunctions/common.css' rel='stylesheet' />
		<link href='../css/testreport.css' rel='stylesheet' />
	</head>
	<body>
		<div class='report-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		</div>
		<div class='report-basic col-xs-8 col-sm-8 col-md-8 col-lg-8 container'>
		</div>
		<div class='report-advanced col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='topper-average col-xs-12 col-sm-12 col-md-4 col-lg-4'>
			</div>
			<div class='charts col-xs-12 col-sm-12 col-md-8 col-lg-8'>
			</div>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../controller/testreport.js'></script>
		<script type='text/javascript' src='../ReusableFunctions/test2bsure.js'></script>
		<script type='text/javascript'>
			new testReportController();
		</script>
	</body>
</html>