<html>
	<head>
		<script data-ad-client="ca-pub-1988549768988881" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>TEST2BSURE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../images/final/favicon.png" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="../../helperCSS/bootstrap.min.css">
		<link rel="stylesheet" href="../../helperCSS/font-awesome.min.css">
	</head>
	<body class='test-report-page'>
		<div class='report-header col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		</div>
		<div class='report-section col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='report-basic col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			</div>
			<div class='report-advanced col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
				<div class='left-side col-xs-12 col-sm-12 col-md-3 col-lg-3'>
					<div class='topper-average col-xs-12 col-sm-12 col-md-12 col-lg-12'>
					</div>
					<div class='suggested-tests col-xs-12 col-sm-12 col-md-12 col-lg-12'>
						<h5>Suggested Tests</h5>
					</div>
				</div>
				<div class='charts col-xs-12 col-sm-12 col-md-9 col-lg-9'>
					<div id="questionsChart" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div id="questionsPieChart"></div>
					</div>
			
					<div id="timeChart" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div id="timePieChart"></div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 chartsSummary">
						<div class='correct'>
							<span class="info">CORRECT</span>
							<span class="value"></span>
						</div>
						<div class='incorrect'>
							<span class="info">INCORRECT</span>
							<span class="value"></span>
						</div>
						<div class='unattempted'>
							<span class="info">UNATTEMPTED</span>
							<span class="value"></span>
						</div>
						<div class='unvisited'>
							<span class="info">UNVISITED</span>
							<span class="value"></span>
						</div>
					</div>
				</div>
				<div id='test2bsure_summary'></div>
			</div>
		</div>
		<div class='solution-section col-xs-12 col-sm-12 col-md-12 col-lg-12 container'>
			<div class='link-pallete'>
				<img src='../images/left-arrow.png' alt='Open'/>
			</div>
			<div class='solution-questions col-xs-12 col-sm-12 col-md-9 col-lg-9'>
				<div class='questions col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
				<div class='attempt-controls col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				</div>
			</div>
			<div class='solution-ques-status xs-12 col-sm-12 col-md-3 col-lg-3'>
				<h4>Question Status</h4>
				<div class='ques-status'>
				</div>
				<div class='ques-status-info'>
					<div><div class='status-info correct'></div><span>Correct Attempt</span></div>
					<div><div class='status-info wrong'></div><span>Wrong Attempt</span></div>
					<div><div class='status-info missed'></div><span>Missed(Unvisited) Question</span></div>
					<div><div class='status-info skipped'></div><span>Skipped(Unattempted) Question</span></div>
					<div><div class='status-info marked'></div><span>Marked For Review</span></div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='../../helperJS/jquery-2.2.2.min.js'></script>
		<script type='text/javascript' src='../../helperJS/bootstrap.min.js'></script>
		<script type='text/javascript' src='../../helperJS/highcharts-8.0.0.js'></script>
		<!-- <script src = "https://code.highcharts.com/highcharts.js"></script>  
		<script src = "https://code.highcharts.com/highcharts-3d.js"></script>-->
		<script type='text/javascript' src='../ReusableFunctions/framework.js'></script>
		<script type='text/javascript'>
			LoadCSS('../ReusableFunctions/common');
			LoadCSS('../css/testreport');
			LoadJS('../ReusableFunctions/test2bsure', function(){
				LoadJS('../controller/testreport', function(){
					LoadJS('../ReusableFunctions/modal-struct', function(){
						new testReportController();
					});
				});
			});
		</script>
	</body>
</html>