.about-us{
	width:100%;
	background-color:#ffffff;
	min-height:49.5%;
	height: auto;
}
.aboutus-html{
	padding-top: 40px;
}
.heading{
	color:grey;
	padding: 15px 0px;
}
.heading h4{
	font-size:22px;
}
.content{
	font-size:20px;
}
.content p{
	font-size:16px;
	line-height:23px;
}
.aboutus-footer{
	margin-top:170px;
}