.about-us{
	width:100%;
	background-color:#ffffff;
}
.aboutus-html{
	width: 50%;
	margin-left: 25%;
	padding-top: 40px;
}
.heading{
	color:grey;
	padding: 15px 0px;
}
.heading h4{
	font-size:22px;
}
.content{
	font-size:20px;
}
.content p{
	font-size:16px;
	line-height:23px;
}
.aboutus-footer{
	position: absolute;
	bottom: 0px;
}