.quiz-listing ul {
	list-style-type: none;
}
.quiz-listing h4 {
	margin-left: 10px;
}
.quiz-listing ul li {
	border: solid 1px #E4E4E4;
	margin: 0px 75px 15px 0px;
	min-height: 200px;
	height: auto;
	text-align: center;
}
.quiz-listing ul li:hover {
	box-shadow: 0px 0px 10px #E4E4E4;
	transition: 0.2s ease-out;
}
.quiz-listing ul li img {
	width: 55px;
	height: 55px;
	margin-top: 10px;
}
.quiz-listing ul li h4 {
	font-weight: bold;
	word-wrap: break-word;
}
.quiz-listing ul li .attempts{
	font-weight: bold;
}
.quiz-listing ul li .controls {
	padding: 20px 0px;
}
.test-listing ul {
	list-style-type: none;
}
.test-listing h4 {
	margin-left: 5px;
}
.test-listing ul li {
	margin: 0px 74px 15px 0px;
	min-height: 305px;
	height: auto;
	padding: 10px 15px 15px;
	border-radius: 2px;
	box-shadow: 0 7px 17px 0 rgba(0,0,0,.05);
}
.test-listing ul li:hover {
	box-shadow: 0px 0px 10px #E4E4E4;
	transition: 0.2s ease-out;
}
.test-listing ul li h4 {
	font-weight: bold;
	word-wrap: break-word;
}
.test-listing ul li .controls {
	padding:20px 0px;
}
.test-listing ul li .test-detail div{
	padding: 5px;
	border-bottom: solid 1px #E4E4E4;
}
.test-listing ul li .test-detail div.time{
	border: none;
}
.test-listing ul li .test-detail div.attempts{
	border: none;
	text-align: center;
	background-color: #e4e4e4;
	border-radius: 30px;
	font-weight: bold;
}
.controls button {
    margin-top: 8px;
}
.exam-details{
	padding: 10px;
	background-color: #e4e4e4;
	border-radius: 0px;
}
.exam-details h4{
	text-align: center;
}
.testlisting-head, .quizlisting-head{
	margin-left: 17px;
	margin-bottom: 22px;
	padding: 7px;
	background-color: #fd6d15;
	color: white;
}
.testlisting-head h4, .quizlisting-head h4{
	text-transform: uppercase;
	font-size: 1.3em;
	display: inline-block;
	margin: 0px;
}
.testlisting-head span, .quizlisting-head span{
	display: inline;
	float: right;
}
.testlisting-head span img, .quizlisting-head span img{
	height: 1.4em;
}