.header {
	height: 60px;
	width: 100%;
}
.header .brand-logo {
	margin-top: 5px;
}
.header .brand-logo img {
	height: 50px;
    width: 200px;
}
.header .menu-items{
	width: 61%;
	margin-left: 5%;
}
.header .menu-items ul.test2bsure-menu {
	font-size: 16px;
	font-weight: bold;
	list-style-type: none;
	display: flex;
	height: 100%;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.header .menu-items ul.test2bsure-menu li.menu-item {
	margin-left: 20px;
	padding: 0px 10px;
}
.header .menu-items ul.test2bsure-menu li.menu-item a.link {
	margin-top: 20px;
	display: block;
	font-weight: normal;
	font-size: 1em;
	text-decoration: none;
	color: white;
}
.header ul.test2bsure-menu li.menu-item:hover {
	background-color: #103B6D;
}
.header ul.test2bsure-menu li.menu-item:hover a.link {
	color: #E4F1F8;
}
.header .login-register-items ul.test2bsure-options li {
	padding-top: 16px;
}
.header .login-register-items #userProfile{
	flex-direction: row;
	justify-content: space-between;
	padding-top: 27px;
}
.header .login-register-items #userProfile .greeting{
	color: white;
	font-weight: bold;
}
.header .login-register-items #userProfile .logout a{
	color: white;
	text-decoration: underline;
	cursor: pointer;
}
.header .login-register-items .test2bsure-options{
	padding: 0px;
    margin-bottom: 0px;
}
.exam-menu-div {
	width: 500px;
    background-color: #FFF;
    height: 400px;
    overflow-y: auto;
    position: absolute;
    top: 60px;
}
.exam-menu-div .tab-content {
	padding: 0px 10px;
	height: 100%;
	background-color: #fff;
}
.header .menu-items ul.test2bsure-menu .exam-menu {
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item {
	min-height: 50px;
	color: #000;
	margin-left: 0px !important;
	padding: 13px 0px !important;
	cursor: pointer;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item a{
	color: #000;
	font-weight: normal;
	font-size: 0.95em;
	cursor: pointer;
}

.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item a {
	padding: 0px;
	display: inline;
	margin-left: 3px;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item img {
	width: 20px;
	height: 20px;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item span {
	float: right
}
.exam-menu-li{
	/*width: 113px;*/
}
.exam-tabs{
	padding: 0px;
	margin: 0px;
	background-color: #E4F1F8;
	height: 100%;
}
.exam-menu-div{
	display:none;
}
.exam-menu-item:hover{
	background-color: #E4F1F8;
}
.exam-menu-div .exam-tabs .nav-tabs > li > a:hover {
    border: none !important;
}
.exam-menu-div .exam-tabs .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: unset !important;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item.active, .header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item.active a{
	background-color: #fff;
	border: none;
}
.exam-content .exams-list{
	list-style-type: none;
	margin-top: 12px;
	font-size: 0.9em;
	color: #a4a4a4;
	font-weight: bold;
	padding-left: 20px;
}
.exam-value-item {
    padding: 11px 0px;
    cursor: pointer;
}
.exams-list .exam-value-item:first-child{
	padding-top: 4px;
}
.exam-value-item:hover {
    color: #000;
}
.header .login-register-items button#btnLogin{
	cursor: pointer;
	width: 80%;
    margin-left: 10%;
}
/* Login Modal CSS */
#loginModal .modal-footer {
	margin-top: 35px;
}