html body.nobodyscroll {
    margin-right: 5px;
    overflow: hidden;
}
.header {
	height: 60px;
	width: 100%;
}
.header .brand-logo {
	margin-top: 5px;
}
.header .brand-logo img {
	height: 50px;
    width: 200px;
}
.header .menu-items{
	width: 61%;
	margin-left: 5%;
}
.header .menu-items ul.test2bsure-menu {
	font-size: 16px;
	font-weight: bold;
	list-style-type: none;
	display: flex;
	height: 100%;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.header .menu-items ul.test2bsure-menu li.menu-item {
	margin-left: 20px;
	padding: 0px 10px;
}
.header .menu-items ul.test2bsure-menu li.menu-item a.link {
	margin-top: 20px;
	display: block;
	font-weight: normal;
	font-size: 1em;
	text-decoration: none;
	color: white;
}
.header ul.test2bsure-menu li.menu-item:hover {
	background-color: #103B6D;
}
.header ul.test2bsure-menu li.menu-item:hover a.link {
	color: #E4F1F8;
}
.header .login-register-items ul.test2bsure-options li {
	padding-top: 16px;
}
.header .login-register-items #userProfile{
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 10px;
	color: #fff;
	cursor: pointer;
	z-index: 101;
	position: relative;
}
.header .login-register-items #userProfile i.fa{
	font-size: 37px;
}
.header .login-register-items #userProfile .greeting{
	font-weight: bold;
	padding: 10px 15px;
}
.header .login-register-items #userProfile .logout a{
	color: white;
	text-decoration: underline;
	cursor: pointer;
}
.header .login-register-items .test2bsure-options{
	padding: 0px;
    margin-bottom: 0px;
}
.exam-menu-div {
	width: 500px;
    background-color: #FFF;
    height: 400px;
    overflow-y: auto;
    position: absolute;
    top: 60px;
}
.exam-menu-div .tab-content {
	padding: 0px 10px;
	height: 100%;
	background-color: #fff;
}
.header .menu-items ul.test2bsure-menu .exam-menu {
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item {
	min-height: 50px;
	color: #000;
	margin-left: 0px !important;
	padding: 13px 0px !important;
	cursor: pointer;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item a{
	color: #000;
	font-weight: normal;
	font-size: 0.95em;
	cursor: pointer;
	padding: 0px;
	display: inline;
	margin-left: 3px;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item img {
	transform: rotate(180deg);
	width: 15px;
	height: 13px;
	margin-top: 5px;
	margin-right: 10px;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item span {
	float: right
}
/* Profile Menu CSS starts */
.header .profile-menu{
	width: 15%;
	visibility: hidden;
	height: 0px;
	position: absolute;
	background-color: #fff;
	top: 60px;
	right: 40px;
	transition: 0.05s ease-out;
	z-index: 101;
}
.header .profile-menu::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    transform: rotate(45deg);
}
.header .profile-menu ul{
	list-style-type: none;
	width: 100%;
	height: 100%;
	padding: 0 17px;
	margin: 0;
}
.header .profile-menu ul li{
	padding: 10px 3px;
	font-size: 1.1em;
	font-weight: bold;
	color: #103B6D;
	cursor: pointer;
	/*border-bottom: solid 1px #E4E4E4;*/
}
.desktopView.overlayD{
	height: 0px;
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,.35);
	z-index: 100;
	left: 0;
}
/* Profile Menu CSS ends */
.exam-menu-li{
	/*width: 113px;*/
}
.exam-tabs{
	padding: 0px;
	margin: 0px;
	background-color: #E4F1F8;
	height: 100%;
}
.exam-menu-div{
	display:none;
}
.exam-menu-item:hover{
	background-color: #E4F1F8;
}
.exam-menu-div .exam-tabs .nav-tabs > li > a:hover {
    border: none !important;
}
.exam-menu-div .exam-tabs .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: unset !important;
}
.header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item.active, .header .menu-items ul.test2bsure-menu .exam-menu .exam-menu-item.active a{
	background-color: #fff;
	border: none;
}
.exam-content .exams-list{
	list-style-type: none;
	margin-top: 12px;
	font-size: 0.9em;
	color: #a4a4a4;
	font-weight: bold;
	padding-left: 20px;
}
.exam-value-item {
    padding: 11px 0px;
    cursor: pointer;
}
.exams-list .exam-value-item:first-child{
	padding-top: 4px;
}
.exam-value-item:hover {
    color: #000;
}
.header .login-register-items button#btnLogin{
	cursor: pointer;
	width: 80%;
    margin-left: 10%;
}
/* Login Modal CSS */
#loginModal .modal-footer {
	margin-top: 35px;
}

/* Header in mobile View */
.mobileView{
	display: none;
}
.mobileView.overlay{
	height: 0px;
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 100;
	left: 0;
	top: 60px;
}
.sandwichbtn{
	padding: 18px 0 9px 7px;
	margin-left: -7px;
	margin-right: 5px;
}
.sandwichbtn div {
    width: 19px;
    height: 3px;
    background-color: #FFF;
    margin: 4px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 767px) {
	.header .brand-logo{
		margin-top: 10px;
	}
	.header .brand-logo img {
	    height: 40px;
	    width: 120px;
	}
	.desktopView{
		display: none;
	}
	.mobileView{
		display: block;
	}
	.menu-items, .exams.mobileView{
		height: calc(100% - 60px);
		background-color: #103B6D;
		position: fixed;
		top: 60px;
		left: 0;
		display: none;
		padding: 0px;
		margin: 0px !important;
		z-index: 105;
		overflow: auto;
	}
	.menu-items{
		display: block;
		width: 0px !important;
		transition: 0.2s;
	}
	.menu-items.expand{
		width: 61% !important;
	}
	.header .menu-items ul.test2bsure-menu{
		flex-direction: column;
	}
	.header .menu-items ul.test2bsure-menu li.menu-item a.link{
		color: #fff;
	}
	.header .menu-items ul.test2bsure-menu li.menu-item{
		margin: 0px 10px;
		padding: 15px 10px;
		border-bottom: solid 1px gray;
	}
	.header .menu-items ul.test2bsure-menu li.menu-item a.link{
		display: unset;
	}
	.header ul.test2bsure-menu li.menu-item:hover{
		background-color: unset;
	}
	.header .login-register-items button#btnLogin{
		width: 100%;
	}
	.sandwichbtn.closebtn div.second {
	    display: none;
	}
	.sandwichbtn.closebtn div.first {
	    transform: rotate(-45deg) translate(-4px, 0px);
	    margin: 6px 0;
	    width: 23px;
	}
	.sandwichbtn.closebtn div.third {
	    transform: rotate(45deg) translate(-6px, -2px);
	    margin: 6px 0;
	    width: 23px;
	}
	.sandwichbtn.closebtn{
		padding-top: 20px;
	}
	.mobileView.btnLogin{
		margin-top: 100px;
		width: 66%;
		margin-left: 17%;
		font-size: 14px;
	}
	.header .login-register-items #userProfile{
		justify-content: right;
		padding-top: 20px;
	}
	.header .login-register-items #userProfile .greeting{
		display: none;
	}
	.exams.mobileView span.exam-head{
		color: white;
		font-size: 1.2em;
		padding: 7px 0px;
		border-bottom: solid 1px gray;
		width: 84%;
		display: block;
		margin-left: 8%;
		cursor: pointer;
	}
	.exams.mobileView span.exam-head img{
		transform: rotate(90deg);
		width: 15px;
		height: 10px;
		margin-right: 14px;
	}
	.exams.mobileView div.outer span{
		color: #fff;
	}
	.exams.mobileView div.outer .outer-1{
		display: flex;
		padding: 15px 20px;
		justify-content: space-between;
	}
	.exams.mobileView div.outer .outer-1 img{
		width: 15px;
		height: 10px;
		margin-top: 4px;
	}
	.exams.mobileView div.outer div.collapse{
		background-color: #fff;
	}
	.exams.mobileView div.outer div.collapse ul{
		list-style-type: none;
	}
	a:focus, a:hover {
 	   text-decoration: underline;
	}	
}