.header{
	height: 80px;
	width: 100%;
}
.header nav{
	height: 100%;

border-radius: 0px;

background-color: white;
border: none;
border-bottom: solid 1px #E4E4E4;
}
.header .navbar-brand img{
	height: 50px;

width: 230px;

padding-left: 30px;
}
.header ul.test2bsure-menu{
	padding: 0px 140px;
	font-size: 16px;

font-weight: bold;
}
.header ul.test2bsure-menu li{
	padding-top: 15px;

height: 100%;
}
.header ul.test2bsure-menu li a{
	color: #2E6DA4;
}
.header ul.test2bsure-menu li a:hover{
	background-color: #2E6DA4;
	color: #E4E4E4;
}
.header ul.test2bsure-menu li:hover{
	background-color: #2E6DA4;
	color: #E4E4E4;
}
.header ul.test2bsure-options{
	padding: 0px 40px 0px 0px;
}
.header ul.test2bsure-options li{
	padding-top: 26px;
	margin-left: 10px;
}