.resetPasswordOuter{
	position: absolute;
	top: 70px;
	padding: 50px 0px;
}
.resetPasswordDiv{
	width:40%;
	margin-left:30%;
	padding: 10px 0px;
	background-color:#F0F0F0;
	text-align:center;
}
.resetPasswordDiv h3{
	padding-bottom:30px;
	font-weight:bold;
}
.password-footer {
    top: 370px;
}