.resetPasswordDiv{
	width:40%;
	margin: 60px 30%;
	padding: 10px 0px;
	background-color:#F0F0F0;
	text-align:center;
}
.resetPasswordDiv h3{
	padding-bottom:30px;
	font-weight:bold;
}
.resetPasswordDiv > div{
	margin-bottom: 20px;
}
.errorExpired{
	font-size: 2em;
	text-align: center;
	padding-top: 45px;
}
@media only screen and (max-width: 767px) {
	.resetPasswordDiv{
		width:90%;
		margin: 30px 5%;
	}
}