.quiz-page .quiz-listing{
	margin-top: 10px;
}
.quiz-page .quiz-listing .left{
	background-color: #e4e4e4;
    margin-left: 3%;
    width: 20%;
    margin-top: 11px;
    padding: 12px;
}
.quiz-page .quiz-listing .left h4{
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
}
.quiz-page .quiz-listing .left button.btnReset{
	width: 50%;
    margin-left: 25%;
    margin-top: 5px;
}
.quiz-page .quiz-listing .right{
	width: 74%;
    margin-left: 3%;
}
.quiz-listing .right ul {
	list-style-type: none;
}

.quiz-listing .right h4 {
	margin-left: 10px;
}

.quiz-listing .right ul li {
	border: solid 1px #E4E4E4;
	margin: 0px 17px 17px 0px;
	min-height: 235px;
	height: auto;
	text-align: center;
	padding: 0px;
	width: 215px;
}

.quiz-listing .right ul li .quiz-title {
	border-bottom: solid 1px #e4e4e4;
	padding: 5px 2px;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	height: 32px;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #e4e4e4;
}

.quiz-listing .right ul li .quiz-border {
	height: 10px;
	width: 10px;
	background-color: #e4e4e4;
	margin-left: 50%;
	transform: translate(-50%, -54%) rotate(45deg);
}

.quiz-listing .right ul li .quiz-image {
	margin-bottom: 12px;
}

.quiz-listing .right ul li .quiz-ques, .quiz-listing .right ul li .quiz-marks
	{
	margin-bottom: 5px;
	border-bottom: solid 1px #e4e4e4;
	width: 70%;
	margin-left: 15%;
	padding-bottom: 5px;
}

.quiz-listing .right ul li .quiz-marks {
	width: 54%;
	margin-left: 23%;
}

.quiz-listing .right ul li .quiz-attempts {
	margin-bottom: 5px;
}

.quiz-listing .right ul li:hover {
	box-shadow: 0px 0px 10px #E4E4E4;
	transition: 0.2s ease-out;
}

.quiz-listing .right ul li img {
	margin-top: 10px;
}
.quiz-listing .right ul li .quiz-image span.reward{
	text-align: center;
	position: relative;
	cursor: pointer;
}
.quiz-listing .right ul li .quiz-image span.reward:hover img {
    transform: scale(1.1);
}
.quiz-listing .right ul li .quiz-image span.reward img{
	width: 40px;
	height: 40px;
}
.quiz-listing .right ul li .quiz-image span.reward span{
	font-weight: bold;
	position: absolute;
	top: 5px;
	display: block;
	left: 50%;
	transform: translate(-50%);
}

.quiz-listing .right ul li h4 {
	font-weight: bold;
	word-wrap: break-word;
}

.quiz-listing .right ul li .attempts {
	font-weight: bold;
}

.quiz-listing .right ul li .controls {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
}


.test-listing .right ul {
	list-style-type: none;
}

.test-listing .right h4 {
	margin-left: 5px;
}

.test-listing .right ul li {
	border: solid 1px #E4E4E4;
	margin: 0px 75px 15px 0px;
	min-height: 305px;
	height: auto;
	padding: 10px 15px 15px;
}

.test-listing .right ul li:hover {
	box-shadow: 0px 0px 10px #E4E4E4;
	transition: 0.2s ease-out;
}

.test-listing .right ul li h4 {
	font-weight: bold;
	word-wrap: break-word;
}

.test-listing .right ul li .controls {
	padding: 20px 0px;
}

.test-listing .right ul li .test-detail div {
	padding: 5px;
	border-bottom: solid 1px #E4E4E4;
}

.test-listing .right ul li .test-detail div.time {
	border: none;
}

.test-listing .right ul li .test-detail div.attempts {
	border: none;
	text-align: center;
	background-color: #e4e4e4;
	border-radius: 30px;
	font-weight: bold;
}

.controls button {
	margin-top: 8px;
}
.quiz-listing .left .quiz-filters{
	list-style-type: none;
	padding: 10px;
}
.quiz-listing .left .quiz-filters li{
	padding: 6px 0px;
	cursor: pointer;
}
.quiz-listing .left .quiz-filters span.filterItem.selected::after{
	background-image: url("../images/final/tick-quiz-filter.png");
	margin-left: 20px;
	width: 17px;
	display: inline-block;
	height: 12px;
	background-size: 17px 12px;
	content: "";
}
.mobileViewQuiz.quizOverlay{
	height: 0px;
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 105;
	left: 0;
	top: 0px;
}
@media only screen and (max-width: 767px) {
	.quiz-page .quiz-listing .right{
		width: 100%;
		margin-left: 0;
	}
	.quiz-listing .right ul{
		width: 75%;
		margin-left: 12.5%;
	}
	.quiz-listing .right h4{
		margin-left: 16%;
	}
	.mobileFilter{
		display: block !important;
		text-align: right;
		cursor: pointer;
		padding: 20px;
	}
	.mobileFilter .filter-quiz{
		text-decoration: underline;
	}
	.filterClose{
		display: inline-block !important;
	}
	.quiz-listing .left{
		display: none;
	}
	.quiz-listing .left.mobile{
		display: block;
		position: absolute;
		width: 82%;
		margin: 0px;
		z-index: 110;
		top: -60px;
		right: 0px;
	}
	.quiz-page .quiz-listing .left button.btnReset{
		position: absolute;
		bottom: 25px;
		left: 0;
	}
	.quiz-listing .left .quiz-filters{
		height: 80%;
		overflow: auto;
	}
}