.take-quiz-page{
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
.quiz-header {
	position: fixed;
	border-bottom: solid 1px #E4E4E4;
	font-weight: bold;
	color: white;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
	height: 70px;
	z-index: 1;
	background-color: #103B6D;
}

.quiz-header span {
	margin-top: 10px;
	display: block;
}

.quiz-content {
	padding: 30px 5% 30px 5%;
	min-height: 100%;
	background-color: #E4E4E4;
	height: auto;
	margin-top: 70px;
}

.quiz-content .quiz-main {
	background-color: #fff;
	box-shadow: 0px 0px 15px #E4E4E4;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.quiz-content .quiz-main .quiz-info-value {
	padding: 10px 15px;
	display: flex;
}

.quiz-content .quiz-main .quiz-info-value h3 {
	display: inline;
	margin: 0px;
	font-size: 19px;
	margin-top: 9px;
	width: 300px;
}

.quiz-content .quiz-main .quiz-info-value .line {
	width: 19%;
	height: 2px;
	border: solid 1px #e4e4e4;
	margin: 14px;
	margin-top: 19px;
}

.quiz-content .quiz-main .quiz-info-value img {
	height: 40px;
	width: 40px;
}

.quiz-content .quiz-main .quiz-info-value .quiz-title-value {
	text-align: right;
}

.quiz-content .quiz-questions {
	max-height: 60%;
	border: solid 2px #e4e4e4;
	padding: 0px;
	margin: 0px 1.5%;
	width: 97%;
}

.quiz-content .quiz-questions .quiz-question {
	height: 60%;
	padding: 15px;
	overflow-y: scroll;
}

.quiz-content .quiz-questions .quiz-options {
	background-color: #DEE1FB;
	height: 60%;
	padding: 15px;
	overflow-y: scroll;
}

.question-number {
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}

.quiz-content .quiz-options .options .option {
	border: solid 1px #e4e4e4;
	padding: 5px 10px;
	cursor: pointer;
	margin-bottom: 10px;
	display: flex;
	font-size: 16px;
	background-color: #fff;
}

.quiz-content .quiz-options .options .option .option-count {
	margin-right: 10px;
	font-weight: bold;
}

.quiz-content .quiz-options .options .option span {
	height: 24px;
}

.quiz-content .quiz-options .options .option .answer-status {
	position: absolute;
	right: 20px;
	transform: translate(-50%);
	margin-top: 6px;
}
.quiz-main .quiz-status{
	height: 80px;
	background-color: #DEE1FB;
	margin: 7px 1.5% 10px 1.5%;
	width: 97%;
	padding: 0px 10px;
}
.quiz-main .quiz-questions .quiz-options .options .option .option-value p {
	margin: 0px;
}
.quiz-main .quiz-status .question-status {
	
}

.quiz-main .quiz-status .attempt-controls {
	width: 30%;
	display: flex;
	justify-content: end;
}

.quiz .quiz-questions .question .options .option .option-count {
	height: 39px;
	width: 39px;
	display: inline-block;
	background-color: #E4E4E4;
	border: solid 1px #e4e4e4;
	font-weight: bold;
	font-size: 1.3em;
	border-radius: 50%;
	padding: 6px;
	text-align: center;
}

.quiz .quiz-questions .question .question-desc {
	border-bottom: solid 1px #E4E4E4;
}

.quiz-main .quiz-questions .quiz-options .options .option.correct {
	border-color: green;
}

.quiz-main .quiz-questions .quiz-options .options .option.incorrect {
	border-color: red;
}

.quiz-main .quiz-questions .quiz-options .options .option.block-events {
	pointer-events: none;
}

.quiz-main .quiz-questions .quiz-options .options .option:hover {
	transform: scale(1.01, 1.05);
	box-shadow: 0px 0px 10px #E4E4E4;
}
.quiz-main .quiz-questions .quiz-options .options .option .option-value {
	margin-right: 10px;
}

.quiz .quiz-questions .question .solution {
	padding: 20px 40px;
	background-color: #e4e4e4;
	font-weight: bold;
}

.quiz .quiz-status {
	padding: 4px 30px;
}

.quiz .quiz-status h4 {
	color: #2E6DA2;
	font-weight: bold;
}

.quiz-main .quiz-status .question-status {
	overflow: auto;
	width: 70%;
	padding: 0px;
}

.quiz-main .quiz-status .question-status span {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-left: 14px;
	font-size: 1em;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	margin: 1px;
}
.quiz-main .quiz-status .attempt-controls .btnNext, .quiz-main .quiz-status .attempt-controls .btnSubmit,
.quiz-main .quiz-status .attempt-controls .btnPrev, .quiz-main .quiz-status .attempt-controls .btnFinish{
	width: 45%;
	margin-left: 5%;
	margin-top: 12%;
}
.quiz-main .quiz-status .question-status span.notvisited {
	border: solid 1px #103B6D;
	background-color: #FFF;
	color: #103B6D;
}

.quiz-main .quiz-status .question-status span.skipped {
	border: solid 1px #E4E4E4;
	background-color: #E4E4E4;
	color: #2E6DA2;
}

.quiz-main .quiz-status .question-status span.correct {
	border: solid 1px #5CB85C;
	background-color: #5CB85C;
	color: white;
}

.quiz-main .quiz-status .question-status span.incorrect {
	border: solid 1px #D9534F;
	background-color: #D9534F;
	color: white;
}

.quiz .quiz-questions .question .options .option .option-count.correct {
	border: solid 1px green;
	background-color: green;
	color: white;
}

.quiz .quiz-questions .question .options .option .option-count.incorrect {
	border: solid 1px red;
	background-color: red;
	color: white;
}

.quiz-footer {
	margin-top: 40px;
	margin-bottom: 25px;
}

.quiz-footer button {
	width: 40%;
	margin-left: 5%;
}
/* Quiz report CSS */
.quiz .quiz-report {
	padding: 10px;
	background-color: #e4e4e4;
}
.quiz-report{
	margin-top: 20px;
}
.quiz-report .report-head{
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
/* Quiz report CSS ends */
.brand-logo-quiz img {
	width: 200px;
	padding: 8px;
}
.brand-logo-quiz i{
 	font-size: 24px;
 	margin-top: 12px;
 	margin-left: -16px;
 	color: white;
}
.quiz-header .brand-logo-quiz i{
	display: none;
}
.quiz-title {
	text-align: center;
	padding-top: 14px;
}

.quiz-title h4 {
	font-size: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	height: 25px;
	white-space: pre;
}

.quiz-info {
	padding-top: 13px;
}

.quiz-report-data {
	display: flex;
}

.quiz-report-data div {
	width: 33%;
	text-align: center;
	margin-top: 30px;
}

.quiz-report-btn {
	margin-top: 50px;
	width: 25%;
	margin-left: 37.5%;
}

@media only screen and (max-width: 767px) {
	.quiz-header .brand-logo-quiz img{
		display: none;
	}
	.quiz-header .brand-logo-quiz i{
		display: block;
	}
	.quiz-header{
		height: 50px;
	}
	.quiz-title {
		padding: 0px;
	}
	.quiz-title h4 {
		font-size: 1em;
		padding: 0px;
		margin: 5px 0px 0px;
	}
	.quiz-info {
		padding-top: 0px;
		text-align: center;
	}
	.quiz-info span{
		font-size: 0.8em;
		margin-top: 0px;
		font-weight: normal;
	}
	.quiz-content{
		margin-top: 50px;
		padding: 0px;
		height: 100%;
	}
	.quiz-content .quiz-main{
		height: 100%;
	}
	.quiz-content .quiz-main .quiz-info-value{
		display: none;
	}
	.quiz-content .quiz-questions{
		width: 100%;
		margin: 0px;
		max-height: unset;
		height: auto;
	}
	.quiz-content .quiz-questions .quiz-question, .quiz-content .quiz-questions .quiz-options{
		height: auto;
	}
	.quiz-div {
		padding: 0px;
		height: inherit;
	}
	.quiz .quiz-questions {
		padding: 0px;
	}
	.quiz-questions .questions {
		padding: 0px;
	}
	.quiz .quiz-questions .question .options {
		padding: 0px 10px;
	}
	.quiz-outer {
		height: calc(100% - 70px);
	}
	.quiz {
		height: 100%;
	}
	.quiz-main .quiz-status {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		margin: 0px;
		height: auto;
		background-color: #fff;
	}
	.quiz-main .quiz-status .question-status{
		width: 100%;
		margin-top: 10px;
	}
	.quiz-main .quiz-status .attempt-controls{
		width: 100%;
	}
	.quiz-main .quiz-status .question-status h4{
		font-size: 1em;
		font-weight: bold;
	}
	.quiz-main .quiz-status .attempt-controls .btnNext,
	.quiz-main .quiz-status .attempt-controls .btnSubmit,
    .quiz-main .quiz-status .attempt-controls .btnPrev,
    .quiz-main .quiz-status .attempt-controls .btnFinish{
	    margin-top: 10px;
	}
	.quiz-report-btn{
		width: 50%;
		margin-left: 25%;
	}
	.description-div{
		flex-direction: column;
		width: 60%;
		margin-left: 20%;
	}
	.description-block.correct, .description-block.incorrect{
		margin-bottom: 15px;
	} 
	.quiz-footer {
		position: absolute;
		bottom: 60px;
		text-align: center;
	}
}
.description-div{
	display: flex;
	width: 50%;
	margin-left: 25%;
	margin-top: 15px;
}
.description-div span.label{
	color: black;
}
.description-block {
    height: 100px;
    width: 100px;
    margin: auto;
    font-weight: bold;
}
.svgholder{
    position: absolute;
    height: inherit;
    width: inherit;
}
.svgholder svg {
    position: absolute;
    height: inherit;
    left: 0;
}