.report-section{
	display: none;
	padding: 0px;
}
.solution-section{
	display: none;
}
.report-header {
	min-height: 50px;
	height: auto;
	background-color: #103B6D;
	padding: 7px;
	color: white;
	font-weight: bold;
}
.report-header .divButton{
	margin-top: 4px;
}
.report-section .report-basic{
	background-color: #e4e4e4;
	height: auto;
	padding: 0px;
}
.report-section .report-basic .greeting{
	text-align: center;
	margin: 30px;
}
.report-section .report-basic .greeting img.trophy{
	width: 90px;
}
.report-section .report-basic .greeting .user-award{
	font-size: 80px;
	color: #2E6DA4;
}
.report-section .report-basic .report-detail{
	padding: 0px;
	margin-bottom: 30px;
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.report-section .report-basic .report-detail .item{
	padding: 10px;
	height: auto;
	text-align: center;
	border-top: solid 1px #ff901d;
	border-bottom: solid 1px #ff901d;
	border-right: solid 1px #ff901d;
}
.report-section .report-basic .report-detail .item:nth-child(1),
.report-section .report-basic .report-detail .item:nth-child(4){
	border-left: solid 1px #ff901d;
}
.report-section .report-basic .report-detail .item:nth-child(1),
.report-section .report-basic .report-detail .item:nth-child(2),
.report-section .report-basic .report-detail .item:nth-child(3){
	border-bottom: none;
}
.report-section .report-basic .report-detail .item .values{
	display: inline-block;
	margin-top: 1px;
}
.report-section .report-basic .report-detail .item img{
	height: 20px;
	width: 20px;
}
.report-section .report-basic .report-detail .item span{
	margin-left: 10px;
	font-size: 0.9em;
	color: gray;
}
.report-section .report-basic .report-detail .item span.detail{
	margin-left: 10px;
	font-weight: bold;
	font-size: 1em;
}



/* Test solution CSS */
.solution-section{
	padding: 0px;
}
.solution-ques-status h4{
	margin: 20px 8px 15px;
}
.solution-ques-status .ques-status{
	max-height: 70%;
	overflow: auto;
	border-bottom: solid 1px #E4E4E4;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.solution-ques-status .ques-status-info{
	padding: 12px 8px;
}
.solution-ques-status .ques-status-info .status-info{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 10px;
}
.solution-ques-status .ques-status-info .status-info.skipped{
	background-color: grey;
	border: solid 1px grey;
}
.solution-ques-status .ques-status-info .status-info.correct{
	background-color: #5CB85C;
	border: solid 1px #5CB85C;
}
.solution-ques-status .ques-status-info .status-info.wrong{
	background-color: #D9534F;
	border: solid 1px #D9534F;
}
.solution-ques-status .ques-status-info .status-info.marked{
	background-color: #9B59B6;
	border: solid 1px #9B59B6;
}
.solution-ques-status .ques-status-info .status-info.missed{
	background-color: #E4E4E4;
	border:solid 2px #E4E4E4;
}
.solution-ques-status .ques-status div[ques-no]{
	float: left;
	height: 40px;
	width: 40px;
	margin: 1px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.solution-ques-status .ques-status div[ques-no].selected{
	cursor: default;
	box-shadow: rgb(119, 119, 119) 0px 1px 8px 0px;
	transform: scale(1.05);
	z-index: 1;
}
.solution-ques-status .ques-status div[ques-no].missed{
	background-color: #E4E4E4;
	color: #000000;
	border: solid 1px #E4E4E4;
}
.solution-ques-status .ques-status div[ques-no].correct{
	background-color: #5CB85C;
	color: #FFF;
	border:solid 1px #5CB85C;
}
.solution-ques-status .ques-status div[ques-no].wrong{
	background-color: #D9534F;
	color: #FFF;
	border:solid 1px #D9534F;
}
.solution-ques-status .ques-status div[ques-no].marked{
	background-color: #9B59B6;
	color: #FFF;
	border:solid 1px #9B59B6;
}
.solution-ques-status .ques-status div[ques-no].skipped{
	background-color: grey;
	color: #FFF;
	border:solid 5px grey;
	padding: 5px;
}

.solution-section .solution-questions{
	height: 88%;
	border-right: solid 1px #e4e4e4;
	padding: 20px;
}
.solution-section .solution-ques-status{
	height: 88%;
}
.solution-section .solution-questions .question{
	border: solid 1px #E4E4E4;
	overflow: auto;
	height: 90%;
}
.solution-section .solution-questions .question .question-number{
	display: inline-block;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.solution-section .solution-questions .question .para-text{
	margin-left: 10px;
	font-weight: bold;
}
.solution-section .solution-questions .question .question-text{
	margin-left: 10px;
	margin-top: 10px;
	display: block;
}
.solution-section .solution-questions .question .options{
	padding: 20px 40px;
}
.solution-section .solution-questions .question .options .option{
	padding: 10px;
	border: solid 1px #e4e4e4;
	margin-top: 10px;
	cursor: default;
}
.solution-section .solution-questions .question .options .option .option-count{
	height: 39px;
	width: 39px;
	display: inline-block;
	background-color: #E4E4E4;
	border: solid 1px #e4e4e4;
	font-weight: bold;
	font-size: 1.3em;
	border-radius: 50%;
	padding: 6px;
	text-align: center;
}
.solution-section .solution-questions .question .question-desc{
	border-bottom: solid 1px #E4E4E4;
}
.solution-section .solution-questions .question .question-desc .ques-status{
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 0.85em;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 14px;
}
.solution-section .solution-questions .question .question-desc .ques-time{
	margin-left: 40px;
	font-size: 0.85em;
	font-weight: bold;
}
.solution-section .solution-questions .question .question-desc .ques-time span{
	margin-left: 8px;
}
.solution-section .solution-questions .question .question-desc .ques-time img{
	height: 20px;
	width: 20px;
}
.solution-section .solution-questions .question .ques-detail{
	padding: 10px 5px 5px;
}
.solution-section .solution-questions .question .question-info{
	border-bottom: solid 1px #fbfbfb;
	padding: 10px;
	background-color: #FBFBFB;
}
.solution-section .solution-questions .question .options .option.correct{
	border-color: green;
}
.solution-section .solution-questions .question .options .option.incorrect{
	border-color: red;
}
.solution-section .solution-questions .question .options .option.block-events{
	pointer-events: none;
}
.solution-section .solution-questions .question .options .option:hover{
}
.solution-section .solution-questions .question .options .option .option-value{
	display: inline;
	margin-left: 15px;
}
.solution-section .solution-questions .question .options .option .option-value p{
	display: inline;
}
.solution-section .solution-questions .question .solution{
	padding: 20px 40px;
	background-color: #e4e4e4;
	font-weight: bold;
}
.solution-section .solution-questions .question .options .option .option-count.correct{
	border: solid 1px green;
	background-color: green;
	color: white;
}
.solution-section .solution-questions .question .options .option .option-count.incorrect{
	border: solid 1px red;
	background-color: red;
	color: white;
}
.solution-section .solution-questions .attempt-controls{
	position: absolute;
	bottom: 10px;
	overflow: hidden;
}
.solution-section .solution-questions .attempt-controls button{
	width: 80%;
}
.question .ques-solution{
	border-top: solid 1px #e4e4e4;
	padding: 5px 15px;
	display: none;
}
.question .ques-solution h5{
	font-size: 1em;
	font-weight: bold;
}
/* Test Solution CSS ends */

.topper-average{
	background-color: #e4e4e4;
	margin: 10px auto 10px;
	border-radius: 2px;
	padding: 10px 20px;
}
.topper-average .topper, .topper-average .average{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: bold;
	padding: 5px 0px;
}
.topper-average .topper span, .topper-average .average span {
    padding: 3px 0px;
}
.topper-average .average, .btnHolder{
	margin-top: 10px;
}
.charts{
	margin-top: 10px;
}
.highcharts-title{
	font-size: 1.2em !important;
	text-transform: uppercase;
}
.chartsSummary div span.info::before{
	content: "";
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
}
.chartsSummary div.correct span.info::before{
	background-color: #317ecc;
}
.chartsSummary div.incorrect span.info::before{
	background-color: #cc5050;
}
.chartsSummary div.unattempted span.info::before{
	background-color: #c08007;
}
.chartsSummary div.unvisited span.info::before{
	background-color: #a455c6;
}
.chartsSummary div span.value{
	float: right;
}
.chartsSummary{
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 0.85em;
	font-weight: bold;
}
.link-pallete{
	display:none;
}
@media only screen and (max-width: 767px) {
	.solution-section .solution-questions {
		height: 72%;
		border-right: solid 1px #e4e4e4;
		padding: 0px;
		margin: 0px;
	}
	.solution-section .solution-questions .questions {
		padding: 0px;
		height: 100%;
	}
	.solution-section .solution-questions .question {
		height: 100%;
	}
	.solution-section .solution-questions .question .options {
		padding: 4px 8px;
	}
	.solution-section .solution-questions .question .options .option {
		padding: 3px;
	}
	.solution-section .solution-questions .attempt-controls {
		position: unset;
		bottom: 0px;
		overflow: hidden;
		margin-top: 10px;
	}
	.solution-section .solution-questions .attempt-controls button{
		width: 100%;
	}
	.solution-section .solution-questions .attempt-controls button.btnShowSolution{
		height: auto;
	}
	.solution-section .solution-ques-status {
		display: none;
		position: absolute;
		top: 0px;
		width: 80%;
		right: 0px;
		background-color: white;
		border: solid 2px #e4e4e4;
		z-index: 10;
		height: 116%;
	}
	.solution-ques-status .ques-status {
		max-height: 60%;
		overflow: auto;
		border-bottom: solid 1px #E4E4E4;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.removeInMobile {
		display: none;
	}
	.divPrevious, .divNext {
		margin-top: 10px;
	}
	.divMark, .divUnmark {
		margin-top: 5px;
	}
	.divTImer {
		text-align: left !important;
	}
	.link-pallete {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 100;
		background-color: #fb6d15;
		padding: 8px 0px;
	}
	.link-pallete img {
		height: 25px;
	}
	.report-section .report-basic .report-detail .item{
		border-top: none;
		border-bottom: solid 1px #ff901d !important;
		border-right: solid 1px #ff901d !important;
		border-left: solid 1px #ff901d !important;
	}
	.report-section .report-basic .report-detail .item:nth-child(1){
		border-top: solid 1px #ff901d;
	}
	.report-section .report-basic{
		background-color: #ffffff;
	}
	.report-section .report-basic .greeting{
		display: none;
	}
}
.report-advanced .left-side{
	padding: 0px;
}
.report-advanced .left-side .suggested-tests{
	height: auto;
	background-color: #e4e4e4;
	padding: 5px 15px 10px;
}
.report-advanced .left-side .suggested-tests h5{
	text-align: center;
	font-weight: bold;
}
.report-advanced .left-side .suggested-tests div{
	padding: 5px 0px;
}
.report-advanced .left-side .suggested-tests div span{
	padding: 0px;
}
.report-advanced .left-side .suggested-tests div span.testBtn{
	text-align: right;
	font-weight: bold;
	cursor: pointer;
}


.highcharts-data-label-connector, .highcharts-data-label{
	display: none;
}