.button{
	height: 30px;
	width: 100%;
}
/*.button-primary:hover, .button-default:hover{
	transform: scale(1.02);
}*/

.button-default:hover{
	/*color: #fff;
	background-color: ##103B6D;
	border-color: #fff;*/
	cursor: pointer;
}
.button-primary{
	background-color: #103B6D;
	border: solid 1px #103B6D;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}
.button-default{
	border: solid 1px #103B6D;
    border-radius: 0px;
    color: #103B6D;
    font-weight: bold;
    background-color: #fff;
}
.button-default:focus, .button-primary:focus{
	border: solid 1px #103B6D;
}
.common-footer{
	padding: 0px;
	height: 250px;
	margin-top: 60px;
	/*top: 120px;*/
}
.common-header{
	background-color: #103B6D;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
}
.common-content{
	top: 60px;
	/*position: absolute;*/
	padding: 0px;
}
.highcharts-credits {
    display: none;
}
.modal-dialog .modal-content{
	border-radius: 0px;
}
.form-control{
	border-radius: 0px;
}
.alert.alert-danger{
	border: none;
    background-color: #fff;
    padding: 5px;
    color: red;
    margin-bottom: 10px;
}

/* Reward Point modal CSS starts */
#rewardPointModal {
    top: 50%;
    transform: translate(0%, -50%);
}
#rewardPointModal .modal-header, #rewardPointModal .modal-footer, #rewardPointModal .modal-body{
	text-align: center;
}
#rewardPointModal .modal-dialog{
	margin-left: 33%;
}
#rewardPointModal .modal-content{
	border-radius: 5px;
}
#rewardPointModal .modal-header .modal-title{
	display: inline;
}
#rewardPointModal .modal-body img{
	width: 40px;
	height: 40px;
}
#rewardPointModal .modal-body span.rewards{
	color: rgb(92, 184, 92);
	font-weight: bold;
}
/* Reward Point modal CSS ends */

.alert.alert-success {
    border: none;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/* Reward Instruction modal CSS starts */
#rewardInstructionModal {
    top: 50%;
    transform: translate(0%, -50%);
}
#rewardInstructionModal .modal-header{
	text-align: center;
}
#rewardInstructionModal .modal-dialog{
	margin-left: 33%;
}
#rewardInstructionModal .modal-content{
	border-radius: 5px;
}
#rewardInstructionModal .modal-header .modal-title{
	display: inline;
}
/* Reward Instruction modal CSS ends */

@media only screen and (max-width: 767px) {
	.common-footer{
		min-height: 250px;
		height: 560px;
	}
	#rewardInstructionModal .modal-dialog,
	#rewardPointModal .modal-dialog{
		margin-left: 0;
	}
}