.button{
	height: 30px;
	width: 100%;
}
/*.button-primary:hover, .button-default:hover{
	transform: scale(1.02);
}*/

.button-default:hover{
	/*color: #fff;
	background-color: ##103B6D;
	border-color: #fff;*/
	cursor: pointer;
}
.button-primary{
	background-color: #103B6D;
	border: solid 1px #103B6D;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}
.button-default{
	border: solid 1px #103B6D;
    border-radius: 0px;
    color: #103B6D;
    font-weight: bold;
    background-color: #fff;
}
.button-default:focus, .button-primary:focus{
	border: solid 1px #103B6D;
}
.common-footer{
	padding: 0px;
	height: 250px;
	/*top: 120px;*/
}
@media only screen and (max-width: 767px) {
	.common-footer{
		min-height: 250px;
		height: 560px;
	}
}
.common-header{
	background-color: #103B6D;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
}
.common-content{
	top: 60px;
	position: absolute;
	padding: 0px;
}
.highcharts-credits {
    display: none;
}
.modal-dialog .modal-content{
	border-radius: 0px;
}
.form-control{
	border-radius: 0px;
}
.alert.alert-danger{
	border: none;
    background-color: #fff;
    padding: 5px;
    color: red;
    margin-bottom: 10px;
}