.test_icons{
    padding-top: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid transparent;
    background: #eee;
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}
.test_icons.answered {
    background: #55BBEA;
    background: #5cb85c;
    border: 1px solid transparent;
    color: #fff;
}
 .test_icons.skipped {
    background: #D9534F;
    border: 1px solid transparent;
    color: #fff;
}
.test_icons.marked {
    background: #9B59B6;
    border: 1px solid transparent;
    color: #fff;
}
.test_icons.unseen {
    background: #ddd;
    border: 1px solid #ddd;
}
.test_icons.marked.answered {
    background: #5cb85c;
    border: 4px solid #9B59B6;
    color: #fff;
    padding-top: 3px;
}
.question_number{
	margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}