#content{
	padding:8% 20px 5% 20px;
	width:70%;
	margin-left:15%;
	background-color:#F4F4F4;
}
.footer{
	margin-top:0%;
}

@media only screen and (max-width: 768px) {
	#content{
		padding:15% 20px 5% 20px;
		width:100%;
		margin-left:0%;
	}
}