.footer{
	background-color:#2E6DA4;
	height:280px;
	/* max-height:600px; */
	width:100%;
	margin-top:15%;
	clear:both;
	color:white;
}
.social-media-links{
	border:solid 2px white;
	border-radius:10px;
	padding:7px;
	float:left;
	width:120px;
	max-height:240px;
	height:40px;
	margin-left:5%;
	text-align:center;
}
.social-media{
	padding-top:3%;
	margin-left:5%;
	text-align:center;
}
.social-media-links a{
	text-decoration:none;
	color:white;
}
.list-inline{
	list-style:none;
	float:left;
}
ul > li > a{
	color:white;
	font-weight:bold;
	text-decoration:none;
	
}
ul > li > a:hover{
	color:white;
}
.website-links{
	clear:both;
	padding-top:3%;
	margin-left:10%;
	text-align:center;
}

.test-link{
	clear:both;
	padding-top:1%;
	margin-left:12%;
	text-align:center;
	
}
ul > li > a> h2{
	font-weight:bold;
}
.logo-image-footer{
	height:50px;
	width:200px;
	float:left;
	margin-left:150px;
	margin-top:50px;
}