.margin-top-10{
	margin-top:10px;
}
.margin-top-20{
	margin-top:20px;
}
.margin-top-30{
	margin-top:30px;
}
.margin-left-50{
	margin-left:50px;
}
.margin-left-10{
	margin-left:10px;
}
.margin-left-30{
	margin-left:30px;
}
.margin-top-40{
	margin-top:40px;
}
.text-center{
	text-align:center;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.modal-custom{
	width:600px;
	overflow:auto;
}
.test-style{
	border:solid 1px grey;
	border-radius:5%;
	float:left;
	width:21.25%;
	text-align:center;
	height:340px;
	overflow:auto;
}
.empty-div{
	float:left;
	width:5%;
	height:320px;
}
.test-size{
	font-size:14px;
}
.div-inside-div{
	width:70%;
	margin-left:15%;
}
.width-class{
	width:80%;
	margin-left:10%;
	margin-top:100px;
}
.width-class-test{
	width:80%;
	margin-left:10%;
}
.test-image{
	margin-top:10px;
	height:50%;
	width:50%;
	margin-left:25%;
}
.test-title{
	margin-bottom:10px;
	margin-top:5px;
	text-align:center;
	font-weight: bold;
}


.outer-test-div{
	 width:88%;
	 background-color:#F0F0F0;
	 border-radius:1%;
	 margin-top:20px;
	 height:110px;
	 overflow:auto;
	 margin-left:6%;
}
.heading-width{
	width:20%;
	text-align:center;
}

.div-width{
	width:20%;
}
.other-div-width{
	width:15%;
}
.float-left{
	float:left;
}
.clear-both{
	clear:both;
}
.max-marks{
	margin-top:17px;
	margin-bottom:17px;
	margin-right:15px;
	padding:10px;
	border-radius:5%;
	color:#286090;
	text-align:center;
	font-weight:bold;
}
.max_marks_value{
	font-size:25px;
}
.footer{
	margin-top:5%;
}
.category-div{
	width:80%;
	margin-left:10%;
	clear:both;
	margin-top:40px;
}
.label-class{
	font-size:16px;
}
.show-test-image{
	width:100%;
	height:40%;
}
.show-test-image-div{
	width:100%;
	height:50%;
	text-align:center;
	background-image:url('../img/show-tests-3.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	cursor:pointer;
}
.home-page-image-div{
	width:100%;
	height:50%;
	text-align:center;
	background-image:url('../img/home_page.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	cursor:pointer;
}
.online-test-head{
	font-weight:bold;
	padding-top:16%;
	font-size:50px;
	color:#0F648F;
}
.online-test-head-arrow{
	font-weight:bold;
	font-size:50px;
	color:#0F648F;
}
.online-tests-link:hover{
	text-decoration:none;
}
.icon-image{
	height:14px;
	width:14px;
}