.margin-top-10{
	margin-top:10px;
}
.margin-top-20{
	margin-top:20px;
}
.margin-top-30{
	margin-top:30px;
}
.margin-left-50{
	margin-left:50px;
}
.margin-left-10{
	margin-left:10px;
}
.margin-left-30{
	margin-left:30px;
}
.margin-top-40{
	margin-top:40px;
}
.text-center{
	text-align:center;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.modal-custom{
	width:600px;
	overflow:auto;
}
.test-style{
	border:solid 1px grey;
	border-radius:5%;
	float:left;
	width:21.25%;
	text-align:center;
	height:340px;
	overflow:auto;
}
.empty-div{
	float:left;
	width:5%;
	height:320px;
}
.test-size{
	font-size:14px;
}
.div-inside-div{
	width:70%;
	margin-left:15%;
}
.width-class{
	width:100%;
	margin-top:20px;
	margin-left:0%;
}
.fullscreen-ad{
	width:80%;
	margin-left:10%;
}
.width-class-test{
	width:80%;
	margin-left:10%;
}

.test-image{
	margin-top:10px;
	height:50%;
	width:50%;
	margin-left:25%;
}
.test-title{
	margin-bottom:10px;
	margin-top:5px;
	text-align:center;
	font-weight: bold;
	font-size:16px;
}


.outer-test-div{
	 width:100%;
	 background-color:#F0F0F0;
	 border-radius:1%;
	 margin-top:20px;
	 height:110px;
	 overflow:auto;
	 margin-left:3%;
}
.outer-test-ad{
	 width:100%;
	 margin-top:20px;
	 margin-left:3%;
}
.show-more-tests-button{
	 width:100%;
	 margin-top:80px;
	 margin-left:3%;
}
.heading-width{
	width:20%;
	text-align:center;
}

.div-width{
	width:20%;
}
.other-div-width{
	width:15%;
}
.float-left{
	float:left;
}
.clear-both{
	clear:both;
}
.max-marks{
	margin-top:17px;
	margin-bottom:17px;
	margin-right:15px;
	padding:10px;
	border-radius:5%;
	color:#286090;
	text-align:center;
	font-weight:bold;
}
.max_marks_value{
	font-size:25px;
}

.category-div{
	width:80%;
	margin-left:10%;
	clear:both;
	margin-top:40px;
}
.label-class{
	font-size:16px;
}
.show-test-image{
	width:100%;
	height:40%;
}
.show-test-image-div{
	width:100%;
	height:50%;
	text-align:center;
	background-image:url('../img/show-tests-3.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	cursor:pointer;
}
.home-page-image-div{
	width:90%;
	height:50%;
	margin-left:5%;
	margin-top:10px;
}
.online-test-head{
	font-weight:bold;
	padding-top:18%;
	font-size:50px;
	color:#0F648F;
}
.online-test-head-arrow{
	font-weight:bold;
	font-size:50px;
	color:#0F648F;
}
.online-tests-link:hover{
	text-decoration:none;
}
.icon-image{
	height:14px;
	width:14px;
}
#tests_home{
	width:65%;
	float:left;
	margin-bottom:180px;
	margin-left:3%;
}
.right-side{
	width: 25%;
	margin-left:4%;
	margin-right:3%;
	float:left;
	margin-top:20px;
}
.news-width{
	width:100%;
	background-color:#2E6DA4;
	height:52%;
	border-radius:3%;
	color:white;
	opacity:0.7;
	overflow:auto;
	font-weight:bold;
}
.homepage1-ad{
	width:100%;
	height:40%;
	margin-top:30px;
}
.news-link{
	color:white;
	padding:5px;
	text-decoration:none;
}
.news-link:hover{
	color:white;
}
.more-link{
	color:yellow;
	
	margin-left:76%;
	margin-bottom:5%;
	
}
.more-link:hover{
	color:yellow;
}


* {box-sizing:border-box}

/* Slideshow container */


.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 768px) {

.right-side{
	width: 80%;
	margin-left:10%;
	margin-right:0%;
	clear:both;
	margin-bottom:50px;
}
#tests_home{
	width:70%;
	clear:both;
	margin-bottom:50px;
	margin-left:15%;
	margin-right:15%;
}
.outer-test-div{
	 width:100%;
	 background-color:#F0F0F0;
	 border-radius:5%;
	 margin-top:20px;
	 height:400px;
	 overflow:auto;
}
.outer-test-ad{
	 width:100%;
}
.test-image{
	margin-top:20px;
	height:20%;
	width:40%;
	text-align:center;
	margin-left:30%;
	
}
.max-marks{
	margin-top:17px;
	margin-bottom:0px;
	margin-right:15px;
	padding:10px;
	border-radius:5%;
	color:#286090;
	text-align:center;
	font-weight:bold;
	clear:both;
	width:100%;
}
.div-width{
	width:70%;
	margin-left:15%;
	text-align:left;
	margin-top:0px;
}
.take-test-button{
	margin-top:20px;
}
}