.width-100{
	width:100%;
}
.float-left{
	float:left;
}
.width-45{
	width:45%;
}
.ad-withoutLogin{
	width:25%;
	margin-left:2%;
	margin-top:-250px;
	float:left;
}
.ad-withLogin{
	bottom:12%;
	position:absolute;
	left:55%;
}
.btnWithoutLogin{
	width:33%;
	margin-left:33%;
	float:left;
}
.width-30{
	width:30%;
}
.width-10{
	width:10%;
}
.margin{
	margin-top:15%;
}
.margin-or{
	margin-top:2%;
}
.login-register-div{
	background-color:#EBEBEB;
	border-radius:5px;
}
.margin-login-div{
	margin-top:10%;
}

.margin-register-div{
	margin-top:5%;
}
.text-center{
	text-align:center;
}
.margin-bottom{
	margin-bottom:15px;
}
.margin-bottom-30{
	margin-bottom:30px;
}