.instructions-div{
	clear:both;
	width:50%;
	margin-left:25%;
	margin-top:50px;
	background-color:#F0F0F0;
	border-radius:5px;
}
.text-center{
	text-align:center;
}
.margin-top-30{
	margin-top:30px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.margin-left{
	margin-left:20px;
}
.margin-right{
	margin-right:60px;
}
.margin-left-60{
	margin-left:45%;
}
.padding-bottom-30{
	padding-bottom:30px;
}
.padding-top-5{
	padding-top:5px;
}
.padding-top-30{
	padding-top:30px;
}
.decoration{
	font-size:16px;
}
.hr-class{
	padding-top:5px;
	color:white;
}
#time-limit{
	font-size: 16px;
	font-weight:bold;
	text-align:left;
}
#max-marks{
	font-size:16px;
	font-weight:bold;
	text-align:right;
}
.span-class{
	font-size:16px;
	font-weight:bold;
}

#questionsPanel{
	float:left;
	height:85%;
	margin-top:20px;
	background-color:#F9F9F9;
}
#questions{
	height:80%;
	clear:both;
	padding-left:40px;
	padding-top:40px;
	background-color:#F9F9F9;
	overflow:auto;
}
#questions1{
	clear:both;
	height:5%;
	
}
#timer{
	float:left;
	margin-top:15px;
	
}
.question-num{
	font-size:16px;
	font-weight:bold;
}
.clear-both{
	clear:both;
}
#divUserDetails{
	clear:both;
	background-color:#EBEBEB;
	border-radius:5px;
	margin-left:35%;
	width:30%;
}
.red{
	color:red;
}
.next-prev-div{
	height:8%;
	margin-top:15px;
	
}
.questionAndButton{
	height:92%;
	
	
}
#btnClearSelection:hover{
	text-decoration:none;
}
#btnMarkForReview:hover{
	text-decoration:none;
}
#btnUnmarkForReview:hover{
	text-decoration:none;
}
.designing-head{
	font-size:16px;
	font-weight:bold;
}

#idHours{
	font-weight:bold;
}
#idMinutes{
	font-weight:bold;
}
#idSeconds{
	font-weight:bold;
}
.test-submit-button{
	
}
.options{
	height:50px;
	width:70%;
	border-left:solid 1px #DADADA;
	border-right:solid 1px #DADADA;
	cursor:pointer;
}
.options:hover{
	background-color:#F7F7F7;
}
.optionsA{
	border-top:solid 1px #DADADA;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.optionsB{
	border-top:solid 1px #DADADA;
}
.optionsC{
	border-top:solid 1px #DADADA;
	border-bottom:solid 1px #DADADA;
}
.optionsD{
	border-bottom:solid 1px #DADADA;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.optionHead{
	font-weight:bold;
	margin-left:10px;
}

input[type=radio] {
   display:none;
}
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 70%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}


.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}



.question-text{
	font-weight:bold;
	font-size:17px;
}

#qestionInstruction{
	clear:both;
	padding-top:20%;
	
}

header{
	height:100px;
}
header nav{
	height:80%;
}
.questionCount{
	font-size:18px;
	padding:2px;
	
}
#quesAttemptedCount{
	margin-left:60px;
}
#quesTotalCount{
	}
#btnSubmitTest{
	margin-top:22px;
}
#questionNumber{
	overflow: auto;
	height:70%;
	background-color:#F9F9F9;
	overflow:auto;
}
.head-outer{
	color:white;
}
#titleHead{
	margin-top:27px;
	color:white;
	font-weight:bold;
}
.link-font{
	font-size:16px;
	text-decoration:none;
}