.instructions-div{
	clear:both;
	width:50%;
	margin-left:25%;
	margin-top:100px;
	background-color:#EBEBEB;
	border-radius:5px;
}
.text-center{
	text-align:center;
}
.margin-top-30{
	margin-top:30px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.margin-left{
	margin-left:20px;
}
.margin-right{
	margin-right:60px;
}
.margin-left-60{
	margin-left:45%;
}
.padding-bottom-30{
	padding-bottom:30px;
}
.padding-top-5{
	padding-top:5px;
}
.decoration{
	font-size:16px;
}
.hr-class{
	padding-top:5px;
	color:white;
}
#time-limit{
	font-size: 16px;
	font-weight:bold;
	text-align:left;
}
#max-marks{
	font-size:16px;
	font-weight:bold;
	text-align:right;
}
.span-class{
	font-size:16px;
	font-weight:bold;
}

#questionsPanel{
	float:left;
	height:80%;
}
#questions{
	float:left;
	height:80%;
	overflow:auto;
	padding-left:40px;
	border:solid 2px grey;
	padding-top:50px;
}
#timer{
	float:left;
	height:80%;
}
.question-num{
	font-size:16px;
	font-weight:bold;
}
.clear-both{
	clear:both;
}