.test-summary{
	clear:both;
	text-align:center;
	margin-top:5%;
}
.test-summary-inner{
	margin-top:30px;
	border:solid 2px grey;
	width:40%;
	margin-left:30%;
	border-radius:5px;
	height:30%;
}
.common{
	height:20%;
	font-size:17px;
	
	margin-top:30px;
}
.generte-report{
	margin-top:30px;
	width:40%;
	margin-left:30%;
}
.total-ques{
	border-bottom:solid 2px grey;
}
.attempted-ques{
	border-bottom:solid 2px grey;
}
.unattempted-ques{
	
}
#btnGenerateReport{
	font-weight:bold;
}

#testReportGeneral{
	clear:both;
	padding-top:50px;
}
.reportDetails{
	background-color:#696969;
	width:100%;
	color:white;
	height:35%;
}
.reportGreeting{
	text-align:center;
	padding-top:10px;
}
.details{
	padding-top:40px;
}
.empty-div{
	width:5%;
	float:left;
	height:90px;
}
.details-div{
	width:10.33%;
	margin-left:4%;
	float:left;
	height:90px;
	text-align:center;
	border-radius:10px;
}

.font-design{
	font-weight:bold;
	font-size:26px;
	padding-top: 20px;
}

.head-design{
	margin-bottom:5px;
	font-weight:bold;
	font-size:17px;
}

#topperAverage{
	background-color:#F0F0F0;
	border-radius:10px;
	height:17%;
	width:80%;
	margin-left:20%;
	color:#2E6DA4;
}
#topPerformers{
	background-color:#F0F0F0;
	border-radius:10px;
	margin-top:50px;
	width:80%;
	margin-left:20%;
	text-align:center;
}
.outer-details{
	float:left;
	width:30%;
	margin-top:40px;
}

#questionsChart{
	float:left;
	width:25%;
	margin-left:5%;
	margin-top:40px;
	border-radius:10px;
}
#timeChart{
	float:left;
	width:25%;
	margin-left:10%;
	margin-top:40px;
	border-radius:10px;
}
#testSolution{
	width:50%;
	margin-left:25%;
	padding-top:80px;
	padding-left:30px;
}
.ques-count{
	font-weight:bold;
	font-size:16px;
}
.ques-status{
	font-weight:bold;
	font-size:16px;
}
.para{
	font-weight:bold;
	font-size:14px;
}

.para-text{
	font-size:14px;
}
.ques{
	font-weight:bold;
	font-size:15px;
	width:100%;
	margin-top:15px;
	padding:5px;
	background-color:#F4F4F4;
	border-radius:5px;
}
.options{
	width:98%;
	margin-left:1%;
	padding:5px;
	border-radius:5px;
	margin-top:10px;
}
.exp-btn{
	margin-top:20px;
}
.explanation{
	margin-top:10px;
}
.topperAvg-head{
	font-size:18px;
	font-weight:bold;
}
.padding-top-20{
	padding-top:20px;
}
.padding-bottom-20{
	padding-bottom:20px;
}
.topperAvg-value{
	font-size:18px;
	text-align:right;
}
.top-performer-head{
	font-weight:bold;
	font-size:22px;
}
.font-bold{
	font-weight:bold;
	font-size:18px;
}
table { border-collapse: collapse;
width:96%;
margin-left:2%;
text-align:center; }
td { border: none;
border-bottom:solid 1px #C3C3C3; }
tr {
  border-right: solid 1px #C3C3C3; 
  border-left: solid 1px #C3C3C3;
  height:40px;
}
table > thead{
	font-weight:bold;
}
table > thead > tr { 
border-top:solid 1px #C3C3C3; }
table > tbody{
	color:#286090;
}
table > tbody > tr:nth-child(even) {background: #F0F0F0}
table > tbody > tr:nth-child(odd) {background: #E1E1E1}
#downloadTopPerformers{
	margin-top:20px;
}

table > tbody > tr > td > img{
	height:20px;
	width:20px;
	margin-left:3px;
}
.head-outer{
	color:white;
}
#titleHead{
	margin-top:27px;
	color:white;
	font-weight:bold;
}
#buttons{
	margin-top:22px;
}
#buttons button{
	width:160px;
	font-weight:bold;
}
.margin-top-20{
	margin-top:20px;
}
.horizontal-line{
	margin-top:10px;
}
#questionsSummary{
	float: left;
	background-color:#F0F0F0;
	height:140px;
	width:180px;
}
#timeSummary{
	float: left;
	background-color:#F0F0F0;
	height:140px;
	width:220px;
}
.correctClass{
	margin-top:20px;
	font-weight:bold;
	color:#95CEFF;
}
.incorrectClass{
	margin-top:20px;
	font-weight:bold;
	color:#5C5C61;
}
.unattemptedClass{
	margin-top:20px;
	font-weight:bold;
	color:#90ED7D;
}