<div class='exam-menu-bar'>
	<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 exam-searchbar'>
		<span>Search: </span>
		<input id='txtSearchExam' type='text' placeholder='by Name/Title'/>
		<button id='btnSearchExam' class='btn btn-primary'>Search</button>
	</div>
	<div class='col-xs-3 col-sm-3 col-md-3 col-lg-3 exam-searchbar'>
		<span>Search by Category: </span>
		<select id='ddSearchCategory'>
			<option value='0'>All</option>
		</select>
	</div>
	<div class='col-xs-3 col-sm-3 col-md-3 col-lg-3 addExams'>
		<button id='btnAddExam' class='btn btn-primary addEditExam'><span class='glyphicon glyphicon-plus'></span>&nbsp;Add Exam</button>
	</div>
</div>
<div class='counter col-xs-12 col-sm-12 col-md-12 col-lg-12'>
	<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 itemCount'>
		Total Exams - <span></span>
	</div>
	<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
	</div>
	<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 paginationDiv'>
	</div>
</div>
<div class='existing-exams'>
	<table>
		<thead>
			<tr class='table-header'>
				<th class='col-md-1'>id</th>
				<th class='col-md-2'> Name</th>
				<th class='col-md-2'>Title</th>
				<th class='col-md-3'>Image</th>
				<th class='col-md-2'>Category</th>
				<th class='col-md-2'>Action</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>

<!-- Add/Update Exam Modal -->
<div class="modal" id="examModal" style='padding-right:0px !important;'>
	<div class="modal-dialog test2bsure-dialog">
		<div class="modal-content test2bsure-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add/Update Exam</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body test2bsure-body">
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Name <span class='red'>*</span></span> <input
						id='txtExamName' type='text'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Title <span class='red'>*</span></span> <input
						id='txtExamTitle' type='text'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Image Url
						<span class='red'>*</span></span> <input id='txtExamImageUrl' type='text'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 imagePreviewDiv'>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Image Preview</span>
					<img src='' id='imgExamImagePreview' alt='Image Not Available'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Select Category
						<span class='red'>*</span></span>
					<select id='ddCategory' class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
						<option value=''>Select</option>
					</select>
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Exam Description
						<span class='red'>*</span></span> <div id='txtExamDescription' 
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' ></div>
				</div>
			</div>
			<div class="modal-footer test2bsure-footer">
				<div>
					<button id='btnExamSave' type='button'
						class='col-xs-offset-5 col-sm-offset-5 col-md-offset-5
	        	 col-lg-offset-5 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary'>Save</button>
					<button id='btnExamCancel' type="button"
						class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1
	        	 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-danger"
						data-dismiss="modal">Cancel</button>
					<button id='btnExamRefresh' type="button"
					class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1
        	 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary">
					Clear Data</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Delete Exam Modal -->

<div class="modal deleteModal" id="deleteExamModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Delete Exam</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div>
					<p>Are you sure to want to delete exam <span></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<div>
					<button id='btnDeleteYes' type='button'
						class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3
	        	 col-lg-offset-3 col-xs-2 col-sm-2 col-md-2 col-lg-2 btn btn-primary'>Yes</button>
					<button id='btnDeleteNo' type="button"
						class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2
	        	 col-lg-offset-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 btn btn-danger"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>
