<ul>
	<li id='menuCategory' data-action='menu_category' data-title='Category'>
		<span>Category</span>
	</li>
	<li id='menuExam' data-action='menu_exam' data-title='Exam'>
		<span>Exam</span>
	</li>
	<li id='menuQuestionBank' data-action='menu_question_bank' data-title='Question Bank'>
		<span>Question Bank</span>
	</li>
	<li id='menuTest' data-action='menu_test' data-title='Test'>
		<span>Test</span>
	</li>
	<li id='menuQuiz' data-action='menu_quiz' data-title='Quiz'>
		<span>Quiz</span>
	</li>
	<li id='menuUser' data-action='menu_user' data-title='User Tracking'>
		<span>User Tracking</span>
	</li>
</ul>
