<ul>
	<li id='menuDashboard' data-action='menu_dashoard' data-title='Dashboard' data-controller='backenddashboard'>
		<span>Dashboard</span>
	</li>
	<li id='menuCategory' data-action='menu_category' data-title='Category' data-controller='category'>
		<span>Category</span>
	</li>
	<li id='menuExam' data-action='menu_exam' data-title='Exam' data-controller='exam'>
		<span>Exam</span>
	</li>
	<li id='menuQuestionBank' data-action='menu_question_bank' data-title='Question Bank' data-controller='questionbank'>
		<span>Question Bank</span>
	</li>
	<li id='menuTest' data-action='menu_test' data-title='Test' data-controller='test'>
		<span>Test</span>
	</li>
	<li id='menuQuiz' data-action='menu_quiz' data-title='Quiz' data-controller='quiz'>
		<span>Quiz</span>
	</li>
	<li id='menuUser' data-action='menu_user' data-title='User Tracking' data-controller='usertracking'>
		<span>User Tracking</span>
	</li>
	<li id='menuFilter' data-action='menu_filter' data-title='Filter' data-controller='filter'>
		<span>Filter</span>
	</li>
</ul>
