<div class='test-menu-bar'>
	<div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 test-searchbar'>
		<span>Search: </span>
		<input id='txtSearchTest' type='text' placeholder='by Name/Title'/>
		<button id='btnSearchTest' class='btn btn-primary'>Refresh</button>
	</div>
	<div class='col-xs-5 col-sm-5 col-md-5 col-lg-5 addTests'>
		<button id='btnAddTest' class='btn btn-primary addEditTest'><span class='glyphicon glyphicon-plus'></span>&nbsp;Add Test</button>
	</div>
</div>
<div class='existing-tests'>
	<table>
		<thead>
			<tr class='table-header'>
				<th class='col-md-1'>id</th>
				<th class='col-md-2'> Name</th>
				<th class='col-md-2'>Title</th>
				<th class='col-md-1'>Questions</th>
				<th class='col-md-1'>Marks</th>
				<th class='col-md-1'>Time</th>
				<th class='col-md-4'>Action</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>


<!-- Add/Update Test Details Modal -->
<div class="modal" id="testDetailsModal">
	<div class="modal-dialog test2bsure-dialog">
		<div class="modal-content test2bsure-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add/Update Test Details</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body test2bsure-body">
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Name <span class='red'>*</span></span> <input
						id='txtTestName' type='text'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Title <span class='red'>*</span></span> <input
						id='txtTestTitle' type='text'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Number of Questions
						<span class='red'>*</span></span> <input id='txtTestQuestions' type='number'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Total time(in mins)
						<span class='red'>*</span></span> <input id='txtTestTime' type='number'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Total Marks
						<span class='red'>*</span></span> <input id='txtTestMarks' type='number'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Negative Marks
						<span class='red'>*</span></span> <input id='txtTestNegative' type='text'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' value='0'/>
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Pass Percentage
						<span class='red'>*</span></span> <input id='txtPassPer' type='number'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' value='0'/>
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Allowed attempts
						<span class='red'>*</span></span> <input id='txtTestAttempts' type='number'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Shuffle Questions
						</span> <input id='chkShuffleQues' type='checkbox'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Shuffle Options
						</span> <input id='chkShuffleOptions' type='checkbox'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Publish
						<span class='red'>*</span></span> <input id='chkTestPublish' type='checkbox'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Lock
						</span> <input id='chkTestLock' type='checkbox'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' />
						<input type='number' id='txtTestLockPoints'
						class='col-xs-1 col-sm-1 col-md-1 col-lg-1 lockDetails' placeholder='Lock Points'/>
						<input type='number' id='txtTestLockRupees'
						class='col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 lockDetails' placeholder='Lock Rupees'/>
				</div>
				<div>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Select Exam
						</span>
					<input type='text' id='ddTestExam' class='col-xs-4 col-sm-4 col-md-4 col-lg-4'/>
					<div id='selectedExam' class='col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-xs-4 col-sm-4 col-md-4 col-lg-4'></div>
				</div></br></br>
				<div>
					<button id='btnAddSection' class='btn btn-primary col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>+ Add Section</button>
					<span style='font-size:12px;' class='col-xs-4 col-sm-4 col-md-4 col-lg-4'><span class='red'>*</span>
						Note: Add section if number of sections is more than 1.
						By default, it takes number of section as 1
					</span>
				</div>
				<div class='sectionDetails'>
				</div>
				</br></br>
				<div class='test-instructions'>
					<span class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2'>Test instructions
						</span> <div id='txtTestInstructions' 
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4' ></div>
				</div>
			</div>
			<div class="modal-footer test2bsure-footer">
				<div>
					<button id='btnTestDetailsSave' type='button'
						class='col-xs-offset-5 col-sm-offset-5 col-md-offset-5
	        	 col-lg-offset-5 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary'>Save and Next</button>
					<button id='btnTestCancel' type="button"
						class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1
	        	 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-danger"
						data-dismiss="modal">Cancel</button>
					<button id='btnTestRefresh' type="button"
					class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1
        	 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary">
					Refresh</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add/Update Section Details Modal -->
<div class="modal" id="sectionDetailsModal">
	<div class="modal-dialog test2bsure-dialog">
		<div class="modal-content test2bsure-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add/Update Section Details</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body test2bsure-body">
				<div>
					<button id='btnAddSection' class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
					col-xs-2 col-sm-2 col-md-2 col-lg-2 btn btn-primary'>+ Add Section</button>
					<a href='#' id='linkSkipSection'
						class='col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3'>Skip
					</a>
				</div>
				<div class='sectionDetails'>
				</div>
			</div>
			<div class="modal-footer test2bsure-footer">
				<div>
					<button id='btnSectionDetailsBack' type='button'
							class='col-xs-offset-5 col-sm-offset-5 col-md-offset-5
		        	 col-lg-offset-5 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-danger' data-dismiss='modal'>Back</button>
					<button id='btnSectionDetailsSave' type='button'
						class='col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary'>Save and Next</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add/Update Test Questions Modal -->
<div class="modal" id="testQuesModal">
	<div class="modal-dialog test2bsure-dialog">
		<div class="modal-content test2bsure-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add Test Questions</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body test2bsure-body">
				<div class='divCountQuesTest'>Number of Questions added: <span class='noOfQues'>0</span></div>
				<div class='added-questions col-xs-4 col-sm-4 col-md-4 col-lg-4'>
					<table>
						<thead>
							<tr class='table-header'>
								<th class='col-md-1'>id</th>
								<th class='col-md-9'>Question</th>
								<th class='col-md-2'>Action</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
				<div class='all-questions col-xs-8 col-sm-8 col-md-8 col-lg-8'>
					<div>
						<span class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Question Category <b class='red'>*</b></span>
						<select id='ddQuestionCategory' class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
							<option value=''>All</option>
						</select>
					</div>
					<div style='clear:both;'>
						<span class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Question SubCategory <b class='red'>*</b></span>
						<select id='ddQuestionSubCategory' class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
							<option value=''>All</option>
						</select>
						<button class='col-xs-offset-2 cl-sm-offset-2 col-md-offset-2 col-lg-offset-2 
						col-xs-3 col-sm-3 col-md-3 col-lg-3 btn btn-primary' id='btnSearchQues'>Search</button>
					</div>
					<table width='100%' style='table-layout:fixed;'>
						<thead>
							<tr class='table-header'>
								<th class='col-md-1'>id</th>
								<th class='col-md-9'>Question</th>
								<th class='col-md-2'>Action</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer test2bsure-body">
				<div>
					<button id='btnTestBack' type='button'
					    	class='col-xs-offset-5 col-sm-offset-5 col-md-offset-5
	        			 col-lg-offset-5 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary' 
	        	 		data-dismiss="modal">Back</button>
					<button id='btnTestFinish' type='button'
						class='col-xs-offset-5 col-sm-offset-5 col-md-offset-5
			        	 col-lg-offset-5 col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-primary' 
			        	 data-dismiss="modal">Finish</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Delete Test Modal -->
<div class="modal deleteModal" id="deleteTestModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Delete Test</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div>
					<p>Are you sure to delete test <span></span> ?</p>
				</div>
			</div>
			<div class="modal-footer">
				<div>
					<button id='btnDeleteYes' type='button'
						class='col-xs-offset-3 col-sm-offset-3 col-md-offset-3
	        	 col-lg-offset-3 col-xs-2 col-sm-2 col-md-2 col-lg-2 btn btn-primary'>Yes</button>
					<button id='btnDeleteNo' type="button"
						class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2
	        	 col-lg-offset-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 btn btn-danger"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>