<div class='menu-bar'>
	<div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 searchbar'>
		<span>Search: </span> <input type='text' placeholder='by Name/E-mail'
			id='txtSearchUser' />
		<button id='btnSearchUser' class='btn btn-primary'
			style='pointer-events: none;'>Refresh</button>
	</div>
</div>
<div class='existing-users'>
	<table>
		<thead>
			<tr class='table-header'>
				<th class='col-md-1'>id</th>
				<th class='col-md-2'>Name</th>
				<th class='col-md-4'>E-mail</th>
				<th class='col-md-3'>Created On</th>
				<th class='col-md-2'>Action</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>

<!-- User Details Modal -->
<div class="modal" id="usertrackingModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">User Details</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
</div>
