<html>
	<head>
		<title> Registration </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style>
			.outerDiv{
				width:50%;
				margin-left:25%;
				padding:1%;
			}
			.red{
				color:red;
			}
		</style>
	</head>
	<body>
		<div class='outerDiv' ng-app='discussion_board' ng-controller='registerController'>
						<form id="registerForm" class="form-horizontal" role="form">
							<div class='form-group'>
								<h2 class='col-sm-7 col-sm-offset-5'>Register</h2>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4 col-xs-3 col-md-offset-0 col-xs-offset-1">Name</label>
								<div class="col-md-7 col-xs-8">
									<input type="text" id="txtNameReg" name="txtNameReg" class="form-control" placeholder="Your name" ng-model='user.name'/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4 col-xs-3 col-md-offset-0 col-xs-offset-1">Email</label>
								<div class="col-md-7 col-xs-8">
									<input type="text" id="txtEmailReg" name="txtEmailNameReg" class="form-control" placeholder="abc@example.com" ng-model='user.email'/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4 col-xs-3 col-md-offset-0 col-xs-offset-1">Contact number</label>
								<div class="col-md-7 col-xs-8">
									<input type="text" id="txtContactReg" name="txtContactNameReg" class="form-control" placeholder="Mobile number" ng-model='user.mobilenumber'/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4 col-xs-3 col-md-offset-0 col-xs-offset-1">Password</label>
								<div class="col-md-7 col-xs-8">
									<input type="password" id="txtPasswordReg" name="txtPasswordNameReg" class="form-control" placeholder="Password" ng-model='user.password'/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4 col-xs-3 col-md-offset-0 col-xs-offset-1">Confirm Password</label>
								<div class="col-md-7 col-xs-8">
									<input type="password" id="txtConfirmPassword" name="txtConfirmNameReg" class="form-control" placeholder="Confirm Password"/>
								</div>
							</div>
							<div class='form-group margin-bottom-20'>
								<div class="col-md-7 col-md-offset-4 col-xs-8 col-xs-offset-4 margin-top-10">
									<button type="button" id="btnRegister" class="btn btn-success btn-block" ng-click='registerFunction(user)'>Register</button>
								</div>
							</div>
						</form>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="controller.js"></script>
		
	</body>
</html>